/* GENERAL STYLING */

:root{
    --background-gray: rgb(40, 42, 54);
    --gray-typography:rgb(143, 154, 185);
    --secondary-gray: rgb(53, 56, 80);
    --white:rgb(235, 230, 230);
    --blue: rgb(49, 191, 230);
    --blue-translucid: rgba(49, 191, 230, .3);
    --border:1px solid var(--blue);
    --transition-03s: .3s ease-in;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--background-gray);
    font-family: Helvetica, sans-serif;
    color: var(--gray-typography);
}

.highlight{
    color: var(--blue)!important;
}

.section-title{
    color: var(--white);
    font-weight: 400;
    letter-spacing: 2px;
}

.secondary-title{
    color: var(--white);
    text-align: center;
    margin: .8em 0
}

.btn-custom{
    color: var(--blue);
    background-color: transparent;
    border: var(--border);
    border-radius: 4px;
    padding: 0.75em 1em;
    margin:3px 5px;
    text-decoration: none;  
    transition: var(--transition-03s);
}

.btn-custom:hover{
    background-color: var(--blue-translucid);
    transition: var(--transition-03s);
}

/* .NAVBAR */

nav{
    background: rgb(59,89,152);
}

#navbar .nav .hamb .hamb-line {
    transition: all .4s ease;
}

#navbar .nav .hamb .hamb-line::before,
#navbar .nav .hamb .hamb-line::after{
    transition: all .4s ease;
}

#navbar .nav .menu{
    padding: 0 2em;
    background: rgb(219,225,235);
    width: 100%;
}

#navbar .nav .menu ul{
    width: 100%;
    max-width: 350px;
    max-height: none;
    padding: 0.5em 2em;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

#navbar .nav .menu ul li{
    margin: 3px;
    width: 47%;
    text-align: center;
}

#navbar .nav .menu ul li a{
    display: block;
    padding: 5px;
    transition: 0.3s ease;
    font-size: 1.1em;
    color: black;
}

#navbar .nav .menu ul li a i{
    position: relative;
    color: rgb(160,176,207);
    font-size: 3em;
    text-shadow: -1px 0 1px  rgb(104,126,171),
    0 1px 1px  rgb(104,126,171),
    1px 0 1px  rgb(104,126,171),
    0 -1px 1px  rgb(104,126,171);
    margin-bottom: 5px;
}

#navbar .nav .menu ul li a i::after{
    display: none;
    content: "!";
    position: absolute;
    color: white;
    text-shadow: none;
    top: -15%;
    right: -15%;
    background: linear-gradient(180deg, 
    rgb(241,150,154) 0%, 
    rgb(241,150,154) 27%, 
    rgb(224,32,4) 64%, 
    rgb(224,32,4) 100%);
    z-index: 2;
    border-radius: 50%;
    font-size: 10px;
    width: 10px;
    height: 10px;
    padding: 3px;
    border: 2px solid white;
}

#navbar .nav .menu ul li a:hover i::after{
    display: block;
}

/* TOGGLED .NAVBAR */

#navbar .nav .side-menu:checked ~ .menu{
    height: 100vh;
    width: 100vw;
    max-height: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/* HOME */

.home-container{
    width: 90%;
}

.main-title{
    color: var(--white);
    font-weight: 800;
    font-size: clamp(45px, 8vw, 90px);
    text-transform: uppercase;
}

.subtitle{
    font-weight: 700;
    font-size: clamp(30px, 8vw, 80px);
    padding-bottom: 0.5em;
}

/* ABOUT ME */

.img-container img{
    height: auto;
    width: 58%;
}

.img-border{
    background: var(--blue-translucid);
    width: 58%;
    height: 100%;
    position: absolute;
    z-index: 2;
    transition: var(--transition-03s);
}

.img-container .img-border:hover{
    -webkit-box-shadow:0px 0px 21px 3px rgba(49,191,230,0.68);
    -moz-box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    transition: var(--transition-03s);
}

.img-border:hover{
    background: none;
    transition: 300ms;
}

.img-border:before{
    background: var(--blue);
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    width: 90%;
    bottom: -1px;
    right: 10%;
    transform: scaleX(.4);
    transform-origin: right;
    transition: transform 300ms ease-in;
}

.img-border:after{
    background: var(--blue);
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    width: 90%;
    top: -1px;
    left: 10%;
    transform: scaleX(.4);
    transform-origin: left;
    transition: transform 300ms ease-in;
}

.img-border:hover::before,
.img-border:hover::after{
    transform: scaleX(.9);
    transition: transform 300ms ease-in;
}

.about-me-text ul li{
    margin: 0 2em;
}

.about-me-list{
    margin: 0.75em 0;
    list-style: none;
}

.about-me-list li:before{
    content: "";
    border-color: transparent var(--blue);
    border-style: solid;
    border-width: 0.2em 0 0.2em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

/* MY WORK */

.my-work-container{
    width: 100%;
    max-width: 345px;
    flex-wrap: wrap;
}

.my-work-card{
    height: 200px;
    width: 127px;
    padding: 10px 0px 5px 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 3px;
}

.glow{
    transition: var(--transition-03s);
}

.icon-container{
    width: 120px; 
    height: 120px;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.my-work-card .icon .icon-container i{
    font-size: 50px;
    color: var(--white)!important;

}

.my-work-card-title{
    color: var(--gray-typography);
    font-size: 1.2em;
    transition: var(--transition-03s);
}
.my-work-card:hover .my-work-card-title{
    color: var(--white);
    transition: var(--transition-03s);
}

.my-work-card:hover .glow{
    filter: drop-shadow(0px 0px 19px rgb(49, 191, 230));
    -webkit-filter: drop-shadow(0px 0px 19px rgb(49, 191, 230));
    -moz-filter: drop-shadow(0px 0px 19px rgb(49, 191, 230));
    transition: var(--transition-03s);
}

#my-work .secondary-title{
    margin-top: 1.3em;
}

.portfolio{
    width: 100%;
    flex-wrap: wrap;
}

.portfolio-card{
    background: var(--secondary-gray);
    border: var(--border);
    cursor: default;
    border-radius: 4px;
    max-width: 400px;
    height: 350px;
    padding: 1em;
    margin: .8em;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: var(--transition-03s)
}

.portfolio-links{
    width: 100%;
    margin-bottom: 1em;
}

.portfolio-links .btn-custom{
    cursor: pointer;
    padding: 0.3em 0.6em;
    margin: 0;
    font-size: .9em;
}

.portfolio-links i{
    cursor: pointer;
    font-size: 2em;
    color: var(--gray-typography)!important;
}

.portfolio-bottom-info p{
    margin: auto 0 0 0;
    margin-left: auto;
    padding: 0;
    transition: var(--transition-03s);
}

.portfolio-title{
    margin:1em 0;
    transition: var(--transition-03s);
}

.portfolio-text{
    padding-right: 2.4em;
    transition: var(--transition-03s);
}

.portfolio-bottom-info{
    margin-top: auto;
    width: 100%;
}

.portfolio-bottom-info i{
    color: var(--gray-typography)!important;
    font-size: 1.7em;
    margin-right: .8em;
    transition: var(--transition-03s);
}

.portfolio-card:hover{
    background: rgb(58, 64, 88);
    -webkit-box-shadow:0px 0px 21px 3px rgba(49,191,230,0.68);
    -moz-box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    transition: var(--transition-03s);
}

.portfolio-card:hover p,
.portfolio-card:hover .portfolio-links a i{
    color: var(--white)!important;
    transition: var(--transition-03s);
}

.portfolio-card:hover .portfolio-title,
.portfolio-card:hover .portfolio-bottom-info i,
.portfolio-card .portfolio-links a i:hover{
    color: var(--blue)!important;
    transition: var(--transition-03s);
}

/* CONTACT */

.contact-card{
    background: var(--secondary-gray);
    border: var(--border);
    border-radius: 4px;
    width: 85%;
    padding: 1em 2em; 
    margin: .8em 0;
    transition: var(--transition-03s);
    display: flex;
    flex-flow: column;
}

.contact-card form{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2.5em;
}

.contact-card form label{
    transition: var(--transition-03s);
}

.contact-card input,
.contact-card textarea{
    width: 100%;
    background: none;
    color: var(--white);
    border: var(--border);
    border-radius: 4px;
    display: block;
    padding: .2em;
    margin: .5em 0;
    resize: none;
    transition: var(--transition-03s);
}

::placeholder{ 
    color: var(--gray-typography)!important;
  }

.contact-card:hover{
    background: rgb(58, 64, 88);
    -webkit-box-shadow:0px 0px 21px 3px rgba(49,191,230,0.68);
    -moz-box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);

}

.contact-card input:focus,
.contact-card textarea:focus{
    -webkit-box-shadow:0px 0px 21px 3px rgba(49,191,230,0.68);
    -moz-box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    border: var(--border);
    border-radius: 4px;
    transition: var(--transition-03s);
}
.contact-card input:focus-visible,
.contact-card textarea:focus-visible{
    outline: .1em solid var(--blue);
}

input:focus + label,
textarea:focus + label{
    color: var(--white);
    transition: var(--transition-03s);
}

.contact-card .btn-custom{
    align-self: flex-end;
}


footer p{
    font-size: .8em;
}

footer .footer-icons a i{
    padding-left: 1em;
    font-size: 2em;
    color: var(--gray-typography)!important;
    transition: var(--transition-03s);
}

footer .footer-icons a i:hover{
    padding-left: 1em;
    font-size: 2em;
    color: var(--blue)!important;
    transition: var(--transition-03s);
}

/* DESKTOP */

@media (min-width: 768px) {

    /* GENERAL STYLING */

    .container{
        padding: 15px 30px;
    }

    /* .NAVBAR*/

    #navbar{
        padding-top: 3px;
        padding-bottom: 0;
    }

    #navbar .nav .menu,
    #navbar .nav .side-menu:checked ~ .menu{
        position: relative;
        top: 0;
        left: 0;
        max-height: 100vh;
        width: auto;
        padding: 0;
    }


    #navbar .nav .menu ul li,
    #navbar .nav .side-menu:checked ~ .menu ul li{
        display: inline-block;
        margin: 0;
    }

    #navbar .nav .menu,
    #navbar .nav .side-menu:checked ~ .menu{
        max-height: none;
        width: 80%;
        height: auto;
        background: rgb(97,122,177);
        border-radius: 2px 2px 0 0;
    }


    #navbar .nav .menu ul{
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;
        max-width: none;
        padding: 0;
        height: 100%;
        padding-right: 8px;
    }

    #navbar .nav .menu ul li{
        display: inline-block;
        margin: 0;
        width: auto;
        margin: 0 2px;
    }

    #navbar .nav .menu ul li a{
        color: white;
        font-size: .8em;
        width: 100%;
        padding: 5px 10px;
    }

    #navbar .nav .menu ul li a br,
    #navbar .nav .menu ul li a i{
        display: none;
    }

    /* HOME */

    .home{
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
    }

    .home-container{
        width: 70%;
    }

    /* ABOUT ME */
    .about-me-content{
        width: 88%;
        flex-flow: row;
        align-items: flex-start;
    }

    .img-container{
        width: 40%;
        margin-top: 2em;
    }
    
    .img-container img,
    .img-border{
        width: 85%;
    }

    .about-me-text{
        width: 60%;
        padding: 1.2em 2em;
        margin-top:5px
    }

    /* MY WORK */

    .my-work-container{
        max-width: none;
    }

    .portfolio-card{
        width: 320px;
    }

    /* CONTACT */
    .contact-card{
        width: 600px;
    }
}

.hide{
    display: none;
}
