/* GENERAL STYLING */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech+Mono&display=swap');

:root{
    --typography-green: rgb(9, 191, 9);
    --secondary-green: rgb(42 128 22);
    --background-green:rgb(10, 20, 10);
    --white:rgb(235, 230, 230);
    --border:1px solid var(--secondary-green);
}

body{
    background-color: var(--background-green);
    font-family: 'Share Tech Mono', monospace;
    color: var(--typography-green);
    text-shadow: 0 0 5px var(--secondary-green);
}

body::after {
    content: "";
    z-index: 6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(black, white 2px);
    opacity: .1;
    pointer-events: none;
  }

mark{
    color: var(--white);
    text-decoration: underline;
}

.section-title{
    font-family: 'Press Start 2P', monospace;
    letter-spacing: 2px;
    color: var(--background-green);
    background: var(--typography-green);
    margin: .8em 0;
    padding: .2em .7em;
    position: relative;
}

.section-title::before,
.section-title::after{
    content: "*";
    background: var(--typography-green);
    position: relative;
    z-index: 2;
    top:0%;
}

.secondary-title{
    color: var(--white);
    font-family: 'Press Start 2P', monospace;
    margin: .8em 0;
    text-align: center;
}

.btn-custom{
    color: var(--typography-green);
    background: none;
    border: var(--border);
    border-radius: 2px;
    padding: 0.75em 1em;
    margin:3px 5px;
    text-decoration: none;  
    text-align: center;
    cursor: pointer;
}

.btn-custom:hover{
    background: var(--typography-green);
    color: var(--background-green);
}

/* NAVBAR */

nav{
    background: var(--background-green);
}

#navbar .nav .logo{
    font-size: 1.3em;
}

#navbar .nav .hamb .hamb-line {
    background: var(--secondary-green);
}

#navbar .nav .hamb .hamb-line::before,
#navbar .nav .hamb .hamb-line::after{
    background: var(--secondary-green);
}

#navbar .nav .menu ul li.active a,
#navbar .nav .menu ul li a:hover{
    text-decoration: underline;
}

/* HOME */

.main-title{
    color: var(--background-green);
    background-color: var(--typography-green);
    font-family: 'Press Start 2P', monospace;
    font-size: 33px;
    padding: .5em .2em;
    margin-bottom: .2em;
    text-transform: uppercase;
}

.subtitle{
    color: var(--white);
    font-family: 'Press Start 2P', monospace;
    font-size: 20px;
    padding-bottom: 0.5em;
}

.home-container p{
    font-size: 1.1em;
    border: var(--border);
    border-radius: 2px;
    margin-bottom: .5em;
}

.button-container{
    margin-top:10px;
}

/* ABOUT ME */

.about-me-content{
    margin-top:0px;
}

.img-text{
    padding: .7em;
    border: var(--border);
    border-radius: 2px;
}

.img-text p{
    font-size: 5px;
}

.about-me-list li:before{
    content: "*";
    color: var(--secondary-green);
    display: block;
    height: 0;
    width: 0;
    right: 20%;
    position: relative;
}

/* MY WORK */

.my-work-card{
    height: 230px;
    width: 180px;
    margin: 3px;
    padding: 0.2em 0;
    border: var(--border);
    border-radius: 2px;
}

.my-work-card .icon p{
    font-size: 6px;
    font-family: monospace;
    color: var(--typography-green);
}

.my-work-card .my-work-card-title{
    color: var(--typography-green);
    font-family: 'Press Start 2P', monospace;
    font-size: .9em;
}

.my-work-card:hover{
    background: var(--typography-green);
}

.my-work-card:hover .icon p,
.my-work-card:hover .my-work-card-title{
    color: var(--background-green);
}

.portfolio{
    padding: 1em 0;
}

.portfolio-card{
    border: var(--border);
    border-radius: 4px;
    max-width: 400px;
    height: auto;
    padding: 1em;
    margin: 5px;
}

.portfolio-card .portfolio-title{
    font-family: 'Press Start 2P', monospace;
    text-align: center;
    width: 100%;
    background: var(--typography-green);
    color: var(--background-green);
    padding: 0.2em 0;
    font-size: 1.3em;
    border: var(--border);
}

.portfolio-card .portfolio-info .portfolio-text{
    margin: .5em 0;
    text-align: justify;
    padding: .2em;
    border: var(--border);
}

.portfolio-card .portfolio-info .portfolio-characteristics{
    width: 100%;
    margin-bottom:.5em ;
    margin-top: auto;
}

.portfolio-card .portfolio-info .portfolio-characteristics p{
    padding-right: 0.5em;
    font-size: .8em;
}

.portfolio-card .portfolio-info .portfolio-characteristics :last-child{
    margin-left: auto;
}

.portfolio-card .portfolio-links{
    width: 100%;
}

.portfolio-card .portfolio-links .btn-custom{
    padding: 0.3em 0.6em;
    margin: 0;
    font-size: .9em;
}

/* CONTACT */

.contact-card{
    border: var(--border);
    border-radius: 2px;
    padding: 1em 2em; 
    margin: .8em 0;
}

.contact-card form label{
    display: block;
    width: fit-content;
    padding: 0.1em 0.3em;
}

.contact-card input,
.contact-card textarea{
    color: var(--typography-green);
    border: var(--border);
    border-radius: 2px;
    padding: .2em;
    margin: .5em 0;
}

#contact-form form input:-webkit-autofill{
    box-shadow: 0 0 0px 1000px var(--background-green) inset;
    -webkit-box-shadow: 0 0 0px 1000px var(--background-green) inset;
    -webkit-text-fill-color: var(--typography-green);
}

.contact-card input:focus-visible,
.contact-card textarea:focus-visible{
    outline: var(--border);
}

input:focus + label,
textarea:focus + label{
    color: var(--background-green);
    background: var(--typography-green);
}

.contact-card .btn-custom{
    align-self: center;
}

/* FOOTER */

footer{
    flex-flow: column;
}

footer p{
    padding: 0 .5em;
    margin-bottom: .2em;
}

footer .btn-custom{
    font-size: .7em;
    padding: 0.5em;
    margin: 0;
}

/* DESKTOP */

@media (min-width: 768px) {

    /* NAVBAR*/

    #navbar .nav .menu ul li,
    .side-menu:checked ~ .menu ul li{
        display: inline-block;
        padding-left: 1.2em;
        margin: 0;
    }

    /* HOME */

    .main-title{
        font-size: 45px;
    }

    .subtitle{
        font-size: 25px;
    }

    /* ABOUT ME */

    .about-me-content{
        flex-flow: column;
        align-items: center;
    }

    .about-me-content .about-me-text{
        width: 100%;
    }

    /* MY WORK */

    .my-work-container{
        max-width: none;
    }

    .portfolio-card{
        max-width: 330px;
        height: 330px;
    }

    .portfolio-card .portfolio-title{
        height: 52px;
        padding: 5px;
    }

    .portfolio-card .portfolio-text{
        height: 172px;
    }
}

@media (max-width: 805px) {
    /* MY WORK */

    .my-work-container{
        max-width: 380px;
    }
}