/* GENERAL STYLING */

:root{
    --blue-main: rgb(59,89,152);
    --bg-blue:rgb(210,213,218);
    --blue-link:rgb(24, 119, 242);
    --blue-icon:rgb(160,176,207);
    --title:rgb(30, 30, 30);
    --icon-border:-1px 0 1px  rgb(104,126,171),
    0 1px 1px  rgb(104,126,171),
    1px 0 1px  rgb(104,126,171),
    0 -1px 1px  rgb(104,126,171);


    --background-gray: rgb(40, 42, 54);
    --gray-typography:rgb(143, 154, 185);
    --secondary-gray: rgb(53, 56, 80);
    --white:rgb(235, 230, 230);
    --blue: rgb(49, 191, 230);
    --blue-translucid: rgba(49, 191, 230, .3);
    --border:1px solid var(--blue);
    --transition-03s: .3s ease-in;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-blue);
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(83, 83, 83);
}

.container{
    background: white;
    width: 97%;
    margin: 5px auto;
    padding: 5px 8px;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 30%);
}

.highlight{
    color: var(--blue-link)!important;
    font-weight: bold;
}

.section-title{
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--title);
}

.secondary-title{
    margin: .8em 0;
    color: var(--title);
}

.btn-custom{
    cursor: pointer;
    color: white;
    background-color: var(--blue-main);
    border: none;
    border-radius: 1px;
    padding: 5px 0;
    margin:3px 5px;
    text-decoration: none;  
}

.btn-custom:hover{
    font-weight: bold;
}

/* .NAVBAR */

#navbar{
    background: var(--blue-main);
    margin: 0px;
    top: 0;
    box-shadow: none;
    border-radius: 0;
}

#navbar .nav .hamb .hamb-line {
    transition: all .4s ease;
}

#navbar .nav .hamb .hamb-line::before,
#navbar .nav .hamb .hamb-line::after{
    transition: all .4s ease;
}

#navbar .nav .menu{
    padding: 0 2em;
    background: var(--bg-blue);
    width: 100%;
}

#navbar .nav .menu ul{
    width: 100%;
    max-width: 350px;
    max-height: none;
    padding: 0.5em 2em;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

#navbar .nav .menu ul li{
    margin: 3px;
    width: 47%;
    text-align: center;
}

#navbar .nav .menu ul li a{
    display: block;
    padding: 5px;
    transition: 0.3s ease;
    font-size: 1.1em;
    color: black;
}

#navbar .nav .menu ul li a i,
#navbar .nav .menu ul li a br{
    display: inline;
}

#navbar .nav .menu ul li a i{
    position: relative;
    color: var(--blue-icon);
    font-size: 3em;
    text-shadow: var(--icon-border);
    margin-bottom: 5px;
}

#navbar .nav .menu ul li a i::after{
    display: none;
    content: "!";
    position: absolute;
    color: white;
    text-shadow: none;
    top: -15%;
    right: -15%;
    background: linear-gradient(180deg, 
    rgb(241,150,154) 0%, 
    rgb(241,150,154) 27%, 
    rgb(224,32,4) 64%, 
    rgb(224,32,4) 100%);
    z-index: 2;
    border-radius: 50%;
    font-size: 10px;
    width: 10px;
    height: 10px;
    padding: 3px;
    border: 2px solid white;
}

#navbar .nav .menu ul li a:hover i::after{
    display: block;
}

/* TOGGLED .NAVBAR */

#navbar .nav .side-menu:checked ~ .menu{
    height: 100vh;
    width: 100vw;
    max-height: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0.5em 0px;
}

/* HOME */

#home{
    margin-top: 3em;
}

.home-container{
    margin-top: 0;
}

.home-container .main-title{
    font-weight: 800;
    font-size: 35px;
    text-transform: capitalize;
    color: var(--title);
}

.home-container .subtitle{
    font-weight: 700;
    font-size: 25px;
    color: var(--title);
    padding-bottom: 0.5em;
}

.home-container p {
    padding-right: 0;
}

.button-container{
    justify-content: flex-start;
}

.button-container .btn-custom{
    width: 60px;
}

.profile-pic{
    align-self: center;
    width: 85%;
    max-width: 370px;
    order: -1;
    padding: 1px;
    background: pink;
}

.profile-pic img{
    width: 100%;
    border-radius: 3px;
}

/* ABOUT ME */

.img-container{
    background: pink;
    width: 90%;
    padding: 1px;
}
.img-container img{
    width: 100%;
}

.about-me-text{
    width: 100%;
}

.about-me-text p{
    padding-bottom: 0;
}

.about-me-list li{
    color: var(--blue-link);
    font-weight: bold;
}

.about-me-list li:before{
    content: "";
    display: block;
    background: var(--blue-main);
    border-radius: 50%;
    height: 8px;
    width: 8px;
    left: -1em;
    top: 12px;
    position: relative;
}

/* MY WORK */

.my-work-container{
    justify-content: flex-start;
}

.my-work-card{
    height: 90px;
    width: 127px;
    margin: 3px;
    background: var(--blue-main);
    border-radius: 3px;
    cursor: context-menu;
}

.my-work-card .icon-container{
    width:100%; 
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    width:100%;
}

.my-work-card .icon-container i{
    font-size: 65px;
    color: var(--blue-icon)!important;
    text-shadow: var(--icon-border);
}

.my-work-card .my-work-card-title{
    color: white;
}

.my-work-card:hover .icon-container i{
    color: white!important;
}

#my-work .secondary-title{
    margin-top: 1.3em;
}

.portfolio-card{
    background: var(--secondary-gray);
    border: var(--border);
    cursor: default;
    border-radius: 4px;
    max-width: 400px;
    height: auto;
    padding: 1em;
    margin: .8em;
    transition: var(--transition-03s)
}

.portfolio-card .portfolio-links{
    width: 100%;
    margin-bottom: 1em;
}

.portfolio-card .portfolio-links .btn-custom{
    cursor: pointer;
    padding: 0.3em 0.6em;
    margin: 0;
    font-size: .9em;
}

.portfolio-card .portfolio-links i{
    cursor: pointer;
    font-size: 2em;
    color: var(--gray-typography)!important;
}

.portfolio-card .portfolio-title{
    margin:1em 0;
    transition: var(--transition-03s);
}

.portfolio-card .portfolio-text{
    padding-right: 2.4em;
    transition: var(--transition-03s);
    margin-bottom: 1.2em;
}

.portfolio-card .portfolio-bottom-info{
    margin-top: auto;
    width: 100%;
}

.portfolio-card .portfolio-bottom-info i{
    color: var(--gray-typography)!important;
    font-size: 1.7em;
    margin-right: .8em;
    transition: var(--transition-03s);
}

.portfolio-card .portfolio-bottom-info p{
    margin: auto 0 0 0;
    margin-left: auto;
    padding: 0;
    transition: var(--transition-03s);
}

.portfolio-card:hover{
    background: rgb(58, 64, 88);
    -webkit-box-shadow:0px 0px 21px 3px rgba(49,191,230,0.68);
    -moz-box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    transition: var(--transition-03s);
}

.portfolio-card:hover .portfolio-text,
.portfolio-card:hover .portfolio-links a i{
    color: var(--white)!important;
    transition: var(--transition-03s);
}

.portfolio-card:hover .portfolio-title,
.portfolio-card:hover .portfolio-bottom-info i,
.portfolio-card .portfolio-links a i:hover{
    color: var(--blue)!important;
    transition: var(--transition-03s);
}

/* CONTACT */

.contact-card{
    background: var(--secondary-gray);
    border: var(--border);
    border-radius: 4px;
    padding: 1em 2em; 
    margin: .8em 0;
    transition: var(--transition-03s);
}

.contact-card form{
    justify-content: flex-start;
    margin-bottom: .5em;
}

.contact-card form label{
    transition: var(--transition-03s);
}

.contact-card input,
.contact-card textarea{
    color: var(--white);
    border: var(--border);
    border-radius: 4px;
    padding: .2em;
    margin: .5em 0;
    transition: var(--transition-03s);
}

::placeholder{ 
    color: var(--gray-typography)!important;
  }

.contact-card:hover{
    background: rgb(58, 64, 88);
    -webkit-box-shadow:0px 0px 21px 3px rgba(49,191,230,0.68);
    -moz-box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);

}

.contact-card input:focus,
.contact-card textarea:focus{
    -webkit-box-shadow:0px 0px 21px 3px rgba(49,191,230,0.68);
    -moz-box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    border: var(--border);
    border-radius: 4px;
    transition: var(--transition-03s);
}
.contact-card input:focus-visible,
.contact-card textarea:focus-visible{
    outline: .5px solid var(--blue);
}

input:focus + label,
textarea:focus + label{
    color: var(--white);
    transition: var(--transition-03s);
}

.contact-card .btn-custom{
    margin-top: 3em;
}

/* FOOTER */

footer .footer-icons a i{
    padding-left: 1em;
    font-size: 2em;
    color: var(--gray-typography)!important;
    transition: var(--transition-03s);
}

footer .footer-icons a i:hover{
    padding-left: 1em;
    font-size: 2em;
    color: var(--blue)!important;
    transition: var(--transition-03s);
}

/* DESKTOP */

@media (min-width: 768px) {

    /* .NAVBAR*/

    #navbar{
        padding-top: 3px;
        padding-bottom: 0;
    }

    #navbar .nav .menu,
    #navbar .nav .side-menu:checked ~ .menu{
        position: relative;
        top: 0;
        left: 0;
        max-height: 100vh;
        width: auto;
        padding: 0;
    }


    #navbar .nav .menu ul li,
    #navbar .nav .side-menu:checked ~ .menu ul li{
        display: inline-block;
        margin: 0;
    }

    #navbar .nav .menu,
    #navbar .nav .side-menu:checked ~ .menu{
        max-height: none;
        width: 80%;
        height: auto;
        background: rgb(97,122,177);
        border-radius: 2px 2px 0 0;
    }


    #navbar .nav .menu ul{
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;
        max-width: none;
        padding: 0;
        height: 100%;
        padding-right: 8px;
    }

    #navbar .nav .menu ul li{
        display: inline-block;
        margin: 0;
        width: auto;
        margin: 0 2px;
    }

    #navbar .nav .menu ul li a{
        color: white;
        font-size: .8em;
        width: 100%;
        padding: 5px 10px;
    }

    #navbar .nav .menu ul li a br,
    #navbar .nav .menu ul li a i{
        display: none;
    }

    /* HOME */

    .home-container{
        width: 70%;
    }

    /* ABOUT ME */
    
    .img-container .img-border{
        width: 85%;
    }

    /* MY WORK */

    .my-work-container{
        max-width: none;
    }

    .portfolio-card{
        width: 320px;
        height: 370px;
    }
}

.hide{
    display: none!important;
}
