/* GENERAL STYLING */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech+Mono&display=swap');

:root{
    --typography-green: rgb(9, 191, 9);
    --secondary-green: rgb(42 128 22);
    --background-green:rgb(10, 20, 10);
    --white:rgb(235, 230, 230);
    --border:1px solid var(--secondary-green);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-color: var(--background-green);
    font-family: 'Share Tech Mono', monospace;
    color: var(--typography-green);
    text-shadow: 0 0 5px var(--secondary-green);
}

body::after {
    content: "";
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(black, white 2px);
    opacity: .1;
    pointer-events: none;
  }

.container{
    width: 100%;
    padding: 10px 20px;
}

.flex-start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column-start {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
}

.flex-column-center {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.highlight{
    color: var(--white);
    text-decoration: underline;
}

.section-title{
    font-family: 'Press Start 2P', monospace;
    letter-spacing: 2px;
    color: var(--background-green);
    background: var(--typography-green);
    display: inline-block;
    width: 100%;
    margin: .8em 0;
    padding: .2em .7em;
    position: relative;
}

.section-title::before,
.section-title::after{
    content: "*";
    background: var(--typography-green);
    position: relative;
    z-index: 2;
    top:0%;
}

.secondary-title{
    color: var(--white);
    font-family: 'Press Start 2P', monospace;
    display: inline-block;
    width: 100%;
    margin: .8em 0;
    text-align: center;
}

.btn-custom{
    color: var(--typography-green);
    background: none;
    border: var(--border);
    border-radius: 2px;
    padding: 0.75em 1em;
    margin:3px 5px;
    text-decoration: none;  
}

.btn-custom:hover{
    background: var(--typography-green);
    color: var(--background-green);
}

/* NAVBAR */

nav{
    width: 100%;
    padding: .8em 1.2em;
    background: var(--background-green);
    position: fixed;
    z-index: 20;
}

.nav {
    width: 100%;
    background: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav .logo{
    margin-right: auto;
    text-decoration: none;
    color: inherit;
}

.nav .hamb{
    cursor: pointer;
}

.nav .hamb .hamb-line {
    background: var(--secondary-green);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.nav .hamb .hamb-line::before,
.nav .hamb .hamb-line::after{
    background: var(--secondary-green);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.nav .hamb .hamb-line::before{
    top: 5px;
}

.nav .hamb .hamb-line::after{
    top: -5px;
}

.nav .side-menu{
    display: none;
}

.nav .menu{
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 220px;
    width: 40%;
    height: auto;
    max-height: 0;
    overflow: hidden;
    background: inherit;
}

.nav .menu ul{
    display: flex;
    flex-direction: column;
}

.nav .menu ul li{
    list-style: none;
    margin: .5em 0;
}

.nav .menu ul li a{
    color: inherit;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.3s ease;
}

.nav .menu ul li a:hover{
    text-decoration: underline;
}


/* TOGGLED NAVBAR */
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
    transform: rotate(-90deg);
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-135deg);
    top:0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(135deg);
    top:0;
}

.side-menu:checked ~ .menu{
    height: auto;
    max-height: 100vw;
    padding: .5em 2em;
}

/* HOME */

.home-container{
    margin-top: 2em;
    width: 100%;
}

.main-title{
    color: var(--background-green);
    background-color: var(--typography-green);
    font-family: 'Press Start 2P', monospace;
    font-size: 33px;
    padding: .5em .2em;
    margin-bottom: .2em;
    text-transform: uppercase;
}

.subtitle{
    color: var(--white);
    font-family: 'Press Start 2P', monospace;
    font-size: 20px;
    padding-bottom: 0.5em;
}

.home-container p{
    padding-right: 1.2em;
    padding-bottom: 1.2em;
    font-size: 1.1em;
    border: var(--border);
    border-radius: 2px;
    margin-bottom: .5em;
}

.button-container{
    width: 100%;
    margin-top:10px;
    flex-wrap: wrap;
}

/* ABOUT ME */

.about-me-content{
    width: 100%;
    margin-bottom:15px;
}

.img-container{
    width: 100%;
    position: relative;
}

.img-text{
    padding: .7em;
    border: var(--border);
    border-radius: 2px;
}

.img-text p{
    font-size: .5em;
}

.about-me-text{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-top:10px;
}

.about-me-text p{
    padding-bottom: 1em;
}

.about-me-text ul{
    display: inline-block;
}
.about-me-text ul li{
    margin: 0 2em;
}

.about-me-list{
    margin: 0.75em 0;
    list-style: none;
}

.about-me-list li:before{
    content: "*";
    color: var(--secondary-green);
    display: block;
    height: 0;
    width: 0;
    right: 20%;
    position: relative;
}

/* MY WORK */

.my-work-container{
    flex-wrap: wrap;
    max-width: 350px;
    width: 100%;
}

.my-work-card{
    height: 215px;
    min-width: 200px;
    width: 80%;
    margin: 3px;
    padding: 0.2em 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border: var(--border);
    border-radius: 2px;
}

.my-work-card .icon p{
    font-size: .1em;
    font-family: monospace;
    color: var(--typography-green);
}

.my-work-card .my-work-card-title{
    color: var(--typography-green);
    font-family: 'Press Start 2P', monospace;
    font-size: .9em;
}

.my-work-card:hover{
    background: var(--typography-green);
}

.my-work-card:hover .icon p,
.my-work-card:hover .my-work-card-title{
    color: var(--background-green);
}


.portfolio{
    width: 100%;
    padding: 1em 0;
    flex-wrap: wrap;
}

.portfolio-card{
    border: var(--border);
    cursor: default;
    border-radius: 4px;
    max-width: 400px;
    height: 350px;
    padding: 1em;
    margin: .8em;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.portfolio-links{
    width: 100%;
    margin-top: auto;
}

.portfolio-links .btn-custom{
    cursor: pointer;
    padding: 0.3em 0.6em;
    margin: 0;
    font-size: .9em;
}

.portfolio-bottom-info p{
    padding-right: 0.5em;
}

.portfolio-bottom-info :last-child{
    margin-left: auto;
}

.portfolio-title{
    font-family: 'Press Start 2P', monospace;
    text-align: center;
    width: 100%;
    background: var(--typography-green);
    color: var(--background-green);
    margin-bottom: auto;
    padding: 0.2em 0;
    font-size: 1.3em;
    border: var(--border);
}

.portfolio-text{
    text-align: justify;
    padding: .2em;
    border: var(--border);
}

.portfolio-bottom-info{
    width: 100%;
    margin: auto;
}

/* CONTACT */

.contact-card{
    border: var(--border);
    border-radius: 2px;
    width: 85%;
    padding: 1em 2em; 
    margin: .8em 0;
    display: flex;
    flex-flow: column;
}

.contact-card form{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2.5em;
}

.contact-card form label{
    display: block;
    width: fit-content;
    padding: 0.1em 0.3em;
}

.contact-card input,
.contact-card textarea{
    width: 100%;
    background: none;
    color: var(--typography-green);
    border: var(--border);
    border-radius: 2px;
    display: block;
    padding: .2em;
    margin: .5em 0;
    resize: none;
}

.contact-card input:focus-visible,
.contact-card textarea:focus-visible{
    outline: var(--border);
}

input:focus + label,
textarea:focus + label{
    color: var(--background-green);
    background: var(--typography-green);
}

.contact-card .btn-custom{
    align-self: center;
}

footer{
    flex-flow: column;
}

footer p{
    font-size: .8em;
    padding: 0 .5em;
    margin-bottom: .2em;
}

footer .btn-custom{
    font-size: .7em;
    padding: 0.5em;
    margin: 0;
}


/* DESKTOP */

@media (min-width: 768px) {

    /* GENERAL STYLING */

    .container{
        padding: 15px 30px;
    }

    /* NAVBAR*/

    .nav .hamb{
        display: none;
    }

    .nav .menu,
    .side-menu:checked ~ .menu{
        position: relative;
        top: 0;
        left: 0;
        max-height: 100vh;
        width: auto;
        padding: 0;
    }

    .nav .menu ul,
    .side-menu:checked ~ .menu ul{
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .nav .menu ul li,
    .side-menu:checked ~ .menu ul li{
        display: inline-block;
        padding-left: 1.2em;
        margin: 0;
    }

    /* HOME */

    .home{
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
    }

    .main-title{
        font-size: 45px;
    }

    .subtitle{
        font-size: 25px;
    }

    /* ABOUT ME */
    .about-me-content{
        width: 88%;
        flex-flow: row;
        align-items: flex-start;
    }

    .img-container{
        width: 40%;
        margin-top: 2em;
    }
    
    .img-container img,
    .img-border{
        width: 85%;
    }

    .about-me-text{
        width: 60%;
        padding: 1.2em 2em;
        margin-top:5px
    }

    /* MY WORK */

    .my-work-container{
        max-width: none;
    }

    .my-work-card{
        width: 170px;
        min-width: auto;
    }


    /* CONTACT */
    .contact-card{
        width: 600px;
    }
}

