/* GENERAL STYLING */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --background-gray: rgb(40, 42, 54);
    --gray-typography:rgb(143, 154, 185);
    --secondary-gray: rgb(53, 56, 80);
    --white:rgb(235, 230, 230);
    --blue: rgb(49, 191, 230);
    --blue-translucid: rgba(49, 191, 230, .3);
    --border:1px solid var(--blue);
    --transition-03s: .3s ease-in;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--background-gray);
    font-family: 'Lato', sans-serif;
    color: var(--gray-typography);
}

mark{
    color: var(--blue)!important;
}

.section-title{
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.secondary-title{
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: .8em 0
}

.btn-custom{
    color: var(--blue);
    background-color: transparent;
    border: var(--border);
    border-radius: 4px;
    padding: 0.75em 1em;
    margin:3px 5px;
    text-decoration: none;  
    transition: var(--transition-03s);
}

.btn-custom:hover{
    background-color: var(--blue-translucid);
    transition: var(--transition-03s);
}

/* .NAVBAR */

nav{
    background: var(--background-gray);
}

#navbar .nav .hamb .hamb-container .hamb-line {
    transition: all .4s ease;
}

#navbar .nav .hamb .hamb-container .hamb-line::before,
#navbar .nav .hamb .hamb-container .hamb-line::after{
    transition: all .4s ease;
}

#navbar .nav .menu{
    padding: 0 2em;
    transition: .3s;
}

#navbar .nav .menu ul li a{
    transition: 0.3s ease;
}

#navbar .nav .menu ul li a:hover{
    color: var(--blue);
}

#navbar .nav .menu ul li a::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--blue);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
#navbar .nav .menu ul li a:hover::before {
    transform: scaleX(1);
  }

/* HOME */

.home-container{
    width: 90%;
}

.main-title{
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: clamp(45px, 8vw, 90px);
    text-transform: uppercase;
}

.subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: clamp(30px, 8vw, 80px);
    padding-bottom: 0.5em;
}

/* ABOUT ME */

.img-border{
    background: var(--blue-translucid);
    width: 58%;
    height: 100%;
    position: absolute;
    z-index: 2;
    transition: var(--transition-03s);
}

.img-container .img-border:hover{
    -webkit-box-shadow:0px 0px 21px 3px rgba(49,191,230,0.68);
    -moz-box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    transition: var(--transition-03s);
}

.img-border:hover{
    background: none;
    transition: 300ms;
}

.img-border:before{
    background: var(--blue);
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    width: 90%;
    bottom: -1px;
    right: 10%;
    transform: scaleX(.4);
    transform-origin: right;
    transition: transform 300ms ease-in;
}

.img-border:after{
    background: var(--blue);
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    width: 90%;
    top: -1px;
    left: 10%;
    transform: scaleX(.4);
    transform-origin: left;
    transition: transform 300ms ease-in;
}

.img-border:hover::before,
.img-border:hover::after{
    transform: scaleX(.9);
    transition: transform 300ms ease-in;
}

.about-me-list li:before{
    content: "";
    border-color: transparent var(--blue);
    border-style: solid;
    border-width: 0.2em 0 0.2em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

/* MY WORK */

.my-work-container{
    max-width: 345px;
}

.my-work-card{
    height: 200px;
    width: 127px;
    padding: 10px 0px 5px 0px;
    margin: 3px;
}

.my-work-card .icon .icon-container{
    width: 120px; 
    height: 120px;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.my-work-card .icon .icon-container i{
    font-size: 50px;
    color: var(--white)!important;
}

.my-work-card .icon .icon-container :nth-child(2){
    font-size: 20px;
    margin-top: 40%;
}
.my-work-card .my-work-card-title{
    color: var(--gray-typography);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    transition: var(--transition-03s);
}

.my-work-card:hover .my-work-card-title{
    color: var(--white);
    transition: var(--transition-03s);
}

.glow{
    transition: var(--transition-03s);
}
.my-work-card:hover .glow{
    filter: drop-shadow(0px 0px 19px rgb(49, 191, 230));
    -webkit-filter: drop-shadow(0px 0px 19px rgb(49, 191, 230));
    -moz-filter: drop-shadow(0px 0px 19px rgb(49, 191, 230));
    transition: var(--transition-03s);
}

#my-work .secondary-title{
    margin-top: 1.3em;
}

.portfolio-card{
    background: var(--secondary-gray);
    border: var(--border);
    cursor: default;
    border-radius: 4px;
    max-width: 400px;
    height: auto;
    padding: 1em;
    margin: .8em;
    transition: var(--transition-03s)
}

.portfolio-card :nth-child(1):not(.portfolio-links > *):not(.portfolio-characteristics > *){
    order: 2;
}

.portfolio-card :nth-child(2):not(.portfolio-links > *):not(.portfolio-characteristics > *){
    order: 3;    
}

.portfolio-card :nth-child(3):not(.portfolio-links > *):not(.portfolio-characteristics > *){
    order: 1;    
}

.portfolio-card .portfolio-links{
    width: 100%;
    margin-bottom: 1em;
}

.portfolio-card .portfolio-links .btn-custom{
    cursor: pointer;
    padding: 0.3em 0.6em;
    margin: 0;
    font-size: .9em;
}

.portfolio-card .portfolio-links i{
    cursor: pointer;
    font-size: 2em;
    color: var(--gray-typography)!important;
}

.portfolio-card .portfolio-title{
    margin:1em 0;
    transition: var(--transition-03s);
}

.portfolio-card .portfolio-info .portfolio-text{
    padding-right: 2.4em;
    transition: var(--transition-03s);
    margin-bottom: 1.2em;
}

.portfolio-card .portfolio-info .portfolio-characteristics{
    margin-top: auto;
    width: 100%;
}

.portfolio-card .portfolio-info .portfolio-characteristics i{
    color: var(--gray-typography)!important;
    font-size: 1.7em;
    margin-right: .8em;
    transition: var(--transition-03s);
}

.portfolio-card .portfolio-info .portfolio-characteristics p{
    margin-left: auto;
    padding: 0;
    transition: var(--transition-03s);
}

.portfolio-card:hover{
    background: rgb(58, 64, 88);
    -webkit-box-shadow:0px 0px 21px 3px rgba(49,191,230,0.68);
    -moz-box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    transition: var(--transition-03s);
}

.portfolio-card:hover .portfolio-info .portfolio-text,
.portfolio-card:hover .portfolio-links a i{
    color: var(--white)!important;
    transition: var(--transition-03s);
}

.portfolio-card:hover .portfolio-title,
.portfolio-card:hover .portfolio-info .portfolio-characteristics i,
.portfolio-card .portfolio-links a i:hover{
    color: var(--blue)!important;
    transition: var(--transition-03s);
}

/* CONTACT */

.contact-card{
    background: var(--secondary-gray);
    border: var(--border);
    border-radius: 4px;
    padding: 1em 2em; 
    margin: .8em 0;
    transition: var(--transition-03s);
}

.contact-card form{
    justify-content: flex-start;
    margin-bottom: .5em;
}

.contact-card form label{
    transition: var(--transition-03s);
}

.contact-card input,
.contact-card textarea{
    color: var(--white);
    border: var(--border);
    border-radius: 4px;
    padding: .2em;
    margin: .5em 0;
    transition: var(--transition-03s);
}

::placeholder{ 
    color: var(--gray-typography)!important;
  }

.contact-card:hover{
    background: rgb(58, 64, 88);
    -webkit-box-shadow:0px 0px 21px 3px rgba(49,191,230,0.68);
    -moz-box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);

}

.contact-card input:focus,
.contact-card textarea:focus{
    -webkit-box-shadow:0px 0px 21px 3px rgba(49,191,230,0.68);
    -moz-box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    border: var(--border);
    border-radius: 4px;
    transition: var(--transition-03s);
}
.contact-card input:focus-visible,
.contact-card textarea:focus-visible{
    outline: .5px solid var(--blue);
}

input:focus + label,
textarea:focus + label{
    color: var(--white);
    transition: var(--transition-03s);
}

.contact-card .btn-custom{
    margin-top: 3em;
}

/* FOOTER */

footer .footer-icons a i{
    padding-left: 1em;
    font-size: 2em;
    color: var(--gray-typography)!important;
    transition: var(--transition-03s);
}

footer .footer-icons a i:hover{
    padding-left: 1em;
    font-size: 2em;
    color: var(--blue)!important;
    transition: var(--transition-03s);
}

/* DESKTOP */

@media (min-width: 768px) {

    /* .NAVBAR*/

    #navbar .nav .menu ul,
    #navbar .nav .side-menu:checked ~ .menu ul{
        max-width: none;
    }

    #navbar .nav .menu ul li,
    #navbar .nav .side-menu:checked ~ .menu ul li{
        display: inline-block;
        padding-left: 1.2em;
        margin: 0;
    }

    /* HOME */

    .home-container{
        width: 70%;
    }

    /* ABOUT ME */
    
    .img-container .img-border{
        width: 85%;
    }

    /* MY WORK */

    .my-work-container{
        max-width: none;
    }

    .portfolio-card{
        width: 320px;
        height: 370px;
    }
}