/* GENERAL STYLING */

@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,300;0,400;1,400&family=Work+Sans:wght@500;600;800;900&display=swap');

:root{
    --blue-gradient:linear-gradient(0deg, 
    rgb(75, 128, 201) 0%, 
    rgb(57, 111, 197) 50%, 
    rgb(49, 111, 182) 50%, 
    rgb(35, 101, 160) 100%);
    --inverted-blue-gradient:linear-gradient(0deg, 
    rgb(35, 101, 160) 0%,
    rgb(49, 111, 182) 50%, 
    rgb(57, 111, 197) 50%, 
    rgb(75, 128, 201) 100%);
    --dark-blue:rgb(25, 77, 122);
    --blue-border: 4px solid var(--dark-blue);
    --light-blue: rgb(113,163,231);
    --red-gradient:linear-gradient(0deg, 
    rgb(201,75,75) 0%, 
    rgb(198,57,57) 49%, 
    rgb(182,49,49) 50%, 
    rgb(160,35,35) 100%);
    --inverted-red-gradient:linear-gradient(0deg,
    rgb(160,35,35) 0%,
    rgb(182,49,49) 49%, 
    rgb(198,57,57) 50%, 
    rgb(201,75,75) 100%); 
    --shadow:0px 3px 7px rgba(0, 0, 0, 0.6);
    --transition-03s: .3s ease-in;
}

@keyframes marquee{
    0%{left: 100%;}
    100%{left: -80%;}
}

@keyframes change-color{
    0%{background: var(--blue-gradient);}
    25%{background: var(--blue-gradient);}
    25%{background: var(--red-gradient);}
    75%{background: var(--red-gradient);}
    75%{background: var(--blue-gradient);}
    100%{background: var(--blue-gradient);}
}

body{
    position: relative;
    font-family: 'Mali', cursive;
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: auto;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(0deg, black, rgb(210, 209, 209) 1px, white 1px,rgb(210, 209, 209) 1px);
}

body::after{
    content: "";
    position: fixed;
    top: 0;
    left: auto;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, rgb(25, 77, 122) 0%,
    rgba(25, 77, 122, 0.8) 2%,
    rgba(25, 77, 122, 0.5) 8%,
    rgba(25, 77, 122, 0.5) 92%,
    rgba(25, 77, 122, 0.8) 98%,
    rgb(25, 77, 122) 100%);
}

.container{
    padding: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: var(--blue-border);
    border-top: none;
    border-bottom: none;
    background: rgb(239, 239, 239);
}

mark{
    font-weight: bolder;
}

.section-title{
    padding-left: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.secondary-title{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    margin: .8em 0;
    text-transform: capitalize;
}

.btn-custom{
    cursor: pointer;
    background: var(--blue-gradient);
    width: 95px;
    border: 3px solid var(--dark-blue);
    border-radius: 12px;
    height: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: white;
    position: relative;
    text-decoration: none;
    text-transform: capitalize; 
}

.btn-custom:hover{
    background: var(--inverted-blue-gradient);
}

/* .NAVBAR */

#navbar{
    border-radius: 0%;
    border: none;
    min-height: 32px;
    top: 0;
    background: rgb(75, 128, 201);
    padding: 0;
    padding-top: 5px;
}

#navbar .nav {
    justify-content: center;
    flex-wrap: wrap;
    background: none;
}

#navbar .nav > a{
    margin: 0;
    margin-right: .5em;
}

#navbar .nav a .logo{
    height: 20px;
}

#navbar .nav .hamb .hamb-line {
    background: white;
    transition: all .4s ease;
}

#navbar .nav .hamb .hamb-line::before,
#navbar .nav .hamb .hamb-line::after{
    background: white;
    transition: all .4s ease;
}

#navbar .nav .menu{
    position: relative;
    max-height: none;
    width: 100%;
    height: 9px;
    border-top: 1px solid var(--dark-blue);
    border-bottom: 1px solid var(--dark-blue);
    background:linear-gradient(180deg, 
    var(--light-blue) 0px,  
    rgba(35,101,160,1) 5px,
    rgba(35,101,160,1) 10px, 
    var(--light-blue) 39px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 8px;
    transition: .3s ease-in;
}

#navbar .nav .menu ul{
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    border-top: 1px solid var(--dark-blue);
}

#navbar .nav .menu ul li{
    margin: 0;
    background: linear-gradient(180deg, 
    rgba(35,101,160,1) 0px,  
    rgba(35,101,160,1) 8px, 
    var(--light-blue) 21px);
    width: 66px;
    height: 22px;
    border: 1px solid var(--dark-blue);
    border-top: none;
    border-radius: 0 0 3px 3px;
    text-align: center;
}

#navbar .nav .menu ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 13px;
}

#navbar .nav .menu ul li.active,
#navbar .nav .menu ul li:hover{
    height: 24px;
}

/* TOGGLED .NAVBAR */

#navbar .nav .side-menu:checked ~ .menu{
    height: 35px;
    padding: .5em 0 0 0;
}

/* HOME */

#home{
    margin-top: 5.5em;
    padding: 0;
    overflow: hidden;
    border-top: var(--blue-border);
    border-radius: 10px 0 0 0;
}

.home-container{
    width: auto;
    margin-top: 0;
}

.home-title{
    position: relative;
    height: 210px;
    padding: .3em;
    background: var(--light-blue);
    background-image: url(../images/coding.jpg);
    background-size: cover;
    border-bottom: var(--blue-border);
    margin-bottom: 1.1em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.home-title:after{
    content: "";
    width: 100.8%;
    height: 101%;
    border-radius: 10px 0 0 0;
    position: absolute;
    z-index: 2;
    background: linear-gradient(45deg, 
    rgba(14, 47, 75, 0.9) 0%,
    rgba(25, 77, 122, 0.8) 50%,
    rgba(25, 77, 122, 0.5) 70%,
    rgba(25, 77, 122, 0.3) 100%);
    top: -1%;
    left: -.4%;
}

.main-title{
    font-size: clamp(35px, 8vw, 80px);
}

.subtitle{
    font-size: clamp(20px, 8vw, 30px);
}

.main-title,
.subtitle{
    position: relative;
    text-transform: uppercase;
    z-index: 3;
    font-family: 'Work Sans', sans-serif;
    color: silver;
    background: linear-gradient(to bottom, silver 0%, silver 13%, #ffffff 50%, silver 56%, silver 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.home-container p{
    padding: .5em;
    text-align: justify;
}

.button-container{
    position: relative;
    align-self: center;
    margin: 0.5em 3em;
    width: auto;
    border: var(--blue-border);
    background: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: var(--shadow);
}

.button-container .secondary-title{
    color: white;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 0 0 0.8em;
    animation: change-color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.button-container button{
    margin: .2em;
}

/* ABOUT ME */

#about-me{
    padding: 10px 0;
}

.img-container{
    width: 300px;
    height:300px;
}

.img-container .img{
    position: relative;
    height: 270px;
    width: 270px;
    background-image: url(../images/photoTree.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: var(--shadow);
    border: var(--blue-border);
    border-radius: 5px;
}

.img-container .img:after{
    content: "";
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: -0.5%;
    left: -0.5%;
    border-radius: 50%;
    opacity: .5;
    background-image: url(../images/spark.gif);
    background-size: 50%;
    background-repeat: repeat-x;
    background-position: 5%;
}

.about-me-text ul li{
    margin: 0 .8em;
}

.about-me-text .about-me-list{
    list-style: disc;
}

/* MY WORK */

.my-work-container{
    max-width: 345px;
}

.my-work-card{
    background: white;
    height: 200px;
    width: 130px;
    border: var(--blue-border);
    box-shadow: var(--shadow);
    border-radius: 0 0 10px 10px;
    flex-flow: column-reverse;
    margin: 5px;
}

.my-work-card .my-work-card-title{
    color: white;
    font-family: 'Work Sans', sans-serif;
    border-bottom: var(--blue-border);
    font-size: 1.2em;
    transition: var(--transition-03s);
    width: 100%;
    height: 52px;
    animation: change-color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.my-work-card .icon .icon-container{
    width: 100px; 
    height: 100px;
    position: relative;
    border: var(--blue-border);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    background: var(--blue-gradient);
}

.my-work-card:hover .icon  .icon-container{
    background: var(--red-gradient);
}

.my-work-card .icon .icon-container img{
    width: 90%;
    filter: invert(97%) sepia(2%) saturate(150%) hue-rotate(49deg) brightness(117%) contrast(100%);
}

.my-work-card #icon-responsive .icon-container :first-child{
    width: 76%;
    position: absolute;
    top: 15%;
    left: 11%;
}

.my-work-card #icon-responsive .icon-container :last-child{
    width: 39%;
    position: absolute;
    top: 39%;
    right: 3%;
}

.portfolio-card{
    background: var(--light-blue);
    border: var(--blue-border);
    border-radius: 0px 0px 10px 10px;
    max-width: 400px;
    height: auto;
    margin: .8em;
    align-items: center;
    box-shadow: var(--shadow);
    overflow: hidden;
    box-shadow: inset 0px 11px rgb(75 128 201), inset 0px 22px rgb(35 101 160);
    position: relative;
}

.portfolio :last-child.portfolio-card{
    border-bottom: var(--blue-border);
}

.portfolio-card .portfolio-title{
    color: white;
    width: 155px;
    position: absolute;
    animation: marquee 4s  infinite;
}

#contador-calorias .portfolio-title{
    width: 190px;
}

.portfolio-card .portfolio-info {
    margin-top: 22px;
    border-top: var(--blue-border);
}

.portfolio-card .portfolio-info .portfolio-text{
    margin: .7em 0;
    padding: 0 .8em;
}

.portfolio-card .portfolio-info .portfolio-characteristics{
    margin: .7em 0;
    width: 100%;
    padding: .3em 0;
    border-top: var(--blue-border);
    border-bottom: var(--blue-border);
}

.portfolio-card .portfolio-info .portfolio-characteristics p{
    padding-left: .3em;
    font-size: .8em;
}

.portfolio-card .portfolio-info .portfolio-characteristics :last-child{
    margin-left: auto;
    padding-right: .3em;
}

.portfolio-card .portfolio-links{
    margin-top: auto;
    padding: 0 .3em .3em;
    width: 100%;
}

.portfolio-card .portfolio-links .btn-custom{
    text-align: center;
    width: 100px;
    height: 45px;
    background: var(--red-gradient);
}

.portfolio-card .portfolio-links .btn-custom:hover{
    background: var(--inverted-red-gradient);
}

/* CONTACT */

.contact-card{
    background: var(--light-blue);
    border: var(--blue-border);
    border-radius: 0 0 10px 10px;
    padding: 1em 2em; 
    margin: .8em 0;
}

.contact-card form label{
    transition: var(--transition-03s);
}

.contact-card form input,
.contact-card form textarea{
    width: 100%;
    background: white;
    border: 2px solid var(--dark-blue);
    display: block;
    padding: .2em;
    margin: .5em 0;
    resize: none;
}

.contact-card input:focus-visible,
.contact-card textarea:focus-visible{
    outline: 1px solid var(--dark-blue);
}

input:focus + label,
textarea:focus + label{
    text-decoration: underline;
}

.contact-card .btn-custom{
    align-self: center;
}

/* FOOTER */

#footer{
    padding-top: 0.5em;
    background: rgb(75 128 201);
    width: 100%;
    border: none;
    border-top: var(--blue-border);
    flex-flow: column;
}

footer .footer-icons .btn-custom{
    width: 110px;
    display: inline-block;
    text-align: center;
    margin-left: 3px;
}

/* DESKTOP */

@media (min-width: 768px) {

    /* .NAVBAR*/

    #navbar{
        height: 36px;
        border-bottom: 1px solid var(--dark-blue);
        background:linear-gradient(180deg, 
        rgb(75 128 201) 0px, 
        rgb(75 128 201) 26px, 
        var(--light-blue) 27px, 
        rgba(35,101,160,1) 32px, 
        rgba(53,115,176,1) 36px);
        align-items: flex-end;
        padding-bottom: 8px;
    }

    #navbar .nav{
        position: relative;
    }
    
    #navbar .nav a .logo{
        margin-bottom:.2em;
        position: absolute;
        left: 5px;
        bottom: 0px;
    }

    #navbar .nav .menu,
    #navbar .nav .side-menu:checked ~ .menu{
        height: auto;
        width: auto;
        padding: 0;
        background: none;
        border: none;
        max-height: none;
    }

    #navbar .nav .menu ul,
    #navbar .nav .side-menu:checked ~ .menu ul{
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        border-top: none;
    }

    #navbar .nav .menu ul li,
    #navbar .nav .side-menu:checked ~ .menu ul li{
        height: 22px;
        background: linear-gradient(0deg, 
        var(--light-blue) 0px, 
        rgba(35,101,160,1) 8px, 
        var(--light-blue) 21px);
        border: 1px solid var(--dark-blue);
        border-bottom: none;
        border-radius: 3px 3px 0 0;
    }

    #navbar .nav .menu ul li.active,
    #navbar .nav .side-menu:checked ~ .menu ul li.active,
    #navbar .nav .menu ul li:hover,
    #navbar .nav .side-menu:checked ~ .menu ul li:hover{
        height: 20px;
    }

    /* HOME */

    #home{
        display: block
    }

    .home-container{
        width: 50%;
    }

    .home-container .home-title{
        width: 200%;
    }

    .button-container{
        width: 42%;
        margin: 0;
        position: absolute;
        right: 6%;
        top: 277px;
    }

    /* ABOUT ME */
    .about-me-content{
        display: block;
        padding: 0 1.5em;
    }

    .img-container{
        width: auto;
        height: auto;
        max-width: none;
        float: left;
        margin: 0 1em 1em 0;
    }

    .img-container .img{
        height: 200px;
        width: 320px;
        background-size: 320px;
    }
    
    .about-me-text{
        display: inline;
        padding: 0;
        margin: 0;
    }

    .about-me-text ul{
        display: inline;
        float: left;
    }

    /* MY WORK */

    #my-work{
        flex-flow: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    .my-work-container{
        min-width: 55%;
        width: 65%;
        margin-top: 46px;
    }

    .portfolio{
        width: 35%;
        min-width: 290px;
        padding: 0 .5em;
        flex-flow: column;
        align-items: flex-end;
    }
    
    .portfolio-card{
        margin: 0;
        width: 100%;
        min-width: 290px;
        border-radius: 0;
        border: var(--blue-border);
        border-bottom: none;
    }
    
    .portfolio :last-child.portfolio-card{
        border-bottom: var(--blue-border);
    }

    .my-work-card{
        width: 40%;
        max-width: 200px;
    }
}