/* GENERAL STYLING */

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=VT323&display=swap');

:root{
    --background-gray: rgb(192, 192, 192);
    --secondary-gray: rgb(223, 223, 223);
    --dark-gray: rgb(102, 102, 102);
    --darkest-gray: rgb(128, 128, 128);
    --black:rgb(10, 10, 10);
    --engraved-box: 
            inset -.5px -.5px var(--dark-gray),
            inset .5px .5px var(--white),
            -.5px -.5px var(--dark-gray),
            .5px .5px var(--white);
    --sunken-box:
            inset -1px -1px white,
            inset 1px 1px var(--darkest-gray),
            inset -2px -2px var(--secondary-gray),
            inset 2px 2px var(--black);
    --raised-box:
    inset -1px -1px var(--black),
    inset 1px 1px white,
    inset -2px -2px var(--darkest-gray),
    inset 2px 2px var(--secondary-gray);
    --border:.5px solid var(--background-gray);
    --gradient:linear-gradient(90deg,rgb(1, 1, 130),rgb(16, 132, 208));
    --gray-typography:rgb(143, 154, 185);
    --white:rgb(235, 230, 230);
    --blue: rgb(49, 191, 230);
    --blue-translucid: rgba(49, 191, 230, .3);
    --transition-03s: .3s ease-in;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-color: var(--background-gray);
    font-family: 'DotGothic16', monospace;
    color: var(--black);
}

.container{
    width: 100%;
    padding: 10px 20px;
}

.flex-start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column-start {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
}

.flex-column-center {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.highlight{
    text-decoration: underline;
}

.section-title-container{
    width: 100%;
}

.section-title{
    font-family: 'VT323', monospace;
    font-size: 2.3em;
    letter-spacing: 2px;
}

.secondary-title{
    font-family: 'VT323', monospace;
    font-size: 1.9em;
    padding-left: 1.3em;
}

.btn-custom{
    background-color: var(--background-gray);
    font-family: 'DotGothic16', sans-serif;
    border: none;
    min-height: 23px;
    min-width: 75px;
    padding: 1px 12px 1px 12px;
    box-shadow: var(--raised-box);
}

.btn-custom:active{
    box-shadow: var(--sunken-box);
    padding: 2px 11px 0 13px;
}

/* NAVBAR */
#navbar{
    background: var(--background-gray);
    position: fixed;
    z-index: 20;
    padding: 0;
}

.nav {
    width: 98%;
    background: inherit;
    border: var(--border);
    box-shadow: var(--engraved-box);
    margin: .4em .6em;
    padding: .4em .6em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav .logo{
    margin-right: auto;
    text-decoration: none;
    color: inherit;
}

.nav .hamb{
    cursor: pointer;
}

.nav .hamb .hamb-line {
    background: var(--black);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.nav .hamb .hamb-line::before,
.nav .hamb .hamb-line::after{
    background: var(--black);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.nav .hamb .hamb-line::before{
    top: 5px;
}

.nav .hamb .hamb-line::after{
    top: -5px;
}

.nav .side-menu{
    display: none;
}

.nav .menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 40%;
    height: auto;
    max-height: 0;
    padding: 0 2em;
    overflow: hidden;
    background: inherit;
}

.nav .menu ul{
    display: flex;
    flex-direction: column;
    border: var(--border);
    box-shadow: var(--engraved-box);
    width: 100%;
    height: 100%;
    padding: 0em 1.5em;
}

.nav .menu ul li{
    list-style: none;
    text-align: center;
    margin: .5em;
    background-color: var(--background-gray);
    border: none;
    box-shadow: inset -1px -1px var(--black), inset 1px 1px white, inset -2px -2px var(--darkest-gray), inset 2px 2px var(--secondary-gray);
}

.nav .menu ul li:active{
    box-shadow: inset -1px -1px white, inset 1px 1px var(--black), inset -2px -2px var(--secondary-gray), inset 2px 2px var(--darkest-gray);
    padding: 2px 11px 0 13px;
}

.nav .menu ul li a{
    color: inherit;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
}

/* TOGGLED NAVBAR */

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
    transform: rotate(-90deg);
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-135deg);
    top:0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(135deg);
    top:0;
}

.side-menu:checked ~ .menu{
    height: auto;
    max-height: 100vw;
    padding: 0.3px;
}

/* HOME */

.home-container{
    margin-top: 2em;
    width: 100%;
    padding: 2px;
}

.main-title{
    font-family: 'VT323', monospace;
    font-size: clamp(55px, 8vw, 90px);
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
}

.subtitle{
    font-family: 'VT323', monospace;
    font-size: clamp(40px, 8vw, 80px);
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 0.5em;
}

.home-container p{
    padding: 1.2em;
    border: var(--border);
    box-shadow: var(--engraved-box);
}

.button-container{
    width: 100%;
    margin-top:10px;
    flex-wrap: wrap;
}

.button-container button{
    margin: 0 1px;
}

/* ABOUT ME */

.about-me-content{
    width: 100%;
    margin-top:15px;
    margin-bottom:15px;
}

.img-container{
    width: 100%;
    position: relative;
}

.img-container img{
    height: auto;
    width: 58%;
    border: var(--border);
    box-shadow: var(--engraved-box);
    padding: 3px;
}

.about-me-text{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-top:10px;
}

.about-me-text p{
    padding-bottom: 1em;
}

.about-me-text ul{
    display: inline-block;
}
.about-me-text ul li{
    margin: 0 2em;
}

.about-me-list{
    list-style: circle;
}

/* MY WORK */

.my-work-content{
    width: 100%;
    padding: 0 1em;
}

.my-work-container{
    width: 100%;
}

.my-work-card{
    margin: 2px;
    height: 155px;
    width: 150px;
    padding:2px 2px 10px;
    box-shadow: var(--raised-box);
    background: var(--background-gray);
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.icon-container{
    width: 95px; 
    height: 95px;
    border: var(--border);
    box-shadow: var(--engraved-box);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icon-container img{
    width: 55px;
}

.icon-container :nth-child(2){
    position: absolute;
    width: 38px;
    top: 45%;
    left: 44%;
}

.my-work-card-title{
    color: white;
    font-family: 'DotGothic16', monospace;
    background: var(--gradient);
    font-size: .8em;
    width: 100%;
    text-align: left;
    height: 20px;
    padding-left: 10px;
}

#my-work .secondary-title{
    margin-top: 1.3em;
}

.portfolio{
    width: 100%;
    padding: 1em 0;
    flex-wrap: wrap;
}

.portfolio-card{
    background: var(--background-gray);
    border: var(--border);
    box-shadow: var(--raised-box);
    cursor: default;
    width: 400px;
    height: 390px;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.portfolio-title{
    color: white;
    font-family: 'DotGothic16', monospace;
    background: var(--gradient);
    font-size: .8em;
    width: 100%;
    text-align: left;
    height: 20px;
    padding-left: 10px;
}

.portfolio-content{
    margin: 12px 8px;
    padding: 6px;
    border: var(--border);
    box-shadow: var(--engraved-box);
}

.portfolio-text{
    border: var(--border);
    box-shadow: var(--sunken-box);
    height: 150px;
    padding: 3px;
    font-size: .8em;
    background: white;
    margin-bottom: 25px;
}

.portfolio-bottom-info{
    margin: 25px 0 15px;
    width: 100%;
}

.portfolio-bottom-info p{
    font-size: .8em;
    padding-right: .8em;
}

.portfolio-bottom-info :last-child{
    padding-right: 0;
    margin-left: auto;
}

.portfolio-links{
    width: 100%;
    padding: 0 10px 10px;
    margin-top: auto;
}

.portfolio-links .btn-custom{
    text-decoration: none;
    color: var(--black);
}

/* CONTACT */

.contact-card{
    border: var(--border);
    box-shadow: var(--raised-box);
    padding: 2px;
    width: 85%; 
    display: flex;
    flex-flow: column;
}

.contact-card h3{
    color: white;
    font-family: 'DotGothic16', monospace;
    background: var(--gradient);
    font-size: .8em;
    width: 100%;
    text-align: left;
    height: 20px;
    padding-left: 10px;
}

.contact-info{
    padding: 3px;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-bottom: .5em;
}

.contact-image{
    background: rgb(1,129,127);
    width: 20%;
    border: var(--border);
    box-shadow: var(--sunken-box);
    height: 315px;
    position: relative;
    padding: 5px;
}

.contact-image img{
    width: 37%;
    position: absolute;
}

.contact-image :first-child{
    transform: scaleX(-1);
    width: 60%;
    top:5%;
    right: 7%;
}

.contact-image :nth-child(2){
    top:25%;
    left: 7%;
}

.contact-image :nth-child(3){
    top:27%;
    left: 12%;
}

.contact-image :nth-child(4){
    top:40%;
    right: 12%;
}

.contact-image :nth-child(5){
    top:50%;
    left: 12%;
}

.contact-card form{
    padding:0 .5em;
    margin-bottom: 2.5em;
    width: 80%;
    height: 315px;
}

.contact-card label{
    display: inline-block;
    min-width: 100px; 
    width: 25%;
    font-family: 'DotGothic16', sans-serif;
    font-size: 0.9em;
}

.contact-card input{
    display: inline-block;
    width: 70%;
}

.contact-card textarea{
    width: 100%;
}

form :nth-child(5){
    margin-top: .8em;
}

.contact-card input,
.contact-card textarea{
    background: white;
    border: var(--border);
    box-shadow: var(--sunken-box);
    margin: .5em 0;
    padding: .2em;
    resize: none;
}

.contact-card input:focus-visible,
.contact-card textarea:focus-visible{
    outline: .1px solid black;
}

.contact-card .btn-custom{
    margin: .5em 0;
    align-self: center;
}


footer p{
    font-size: .8em;
}

footer .footer-icons a i{
    padding-left: 1em;
    font-size: 2em;
    color: var(--gray-typography)!important;
    transition: var(--transition-03s);
}

/* DESKTOP */

@media (min-width: 768px) {

    /* GENERAL STYLING */

    .container{
        padding: 15px 30px;
    }

    /* NAVBAR*/

    .nav .hamb{
        display: none;
    }

    .nav .menu,
    .side-menu:checked ~ .menu{
        position: relative;
        top: 0;
        left: 0;
        max-height: 100vh;
        width: auto;
        padding: 0;
    }

    .nav .menu ul,
    .side-menu:checked ~ .menu ul{
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-top:3px;
        padding-bottom:3px;
        border: none;
        box-shadow: none;
    }

    .nav .menu ul li,
    .side-menu:checked ~ .menu ul li{
        display: inline-block;
        padding: 1px 6px;
        margin: 0 3px;
    }

    .nav .menu ul li:active,
    .side-menu:checked ~ .menu ul li:active{
        padding: 1.5px 5.5px .5px  6.5px;
    }

    /* HOME */

    .home{
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
    }

    /* ABOUT ME */
    .about-me-content{
        width: 88%;
        flex-flow: row;
        align-items: flex-start;
    }

    .img-container{
        width: 40%;
        margin-top: 2em;
    }
    
    .img-container img,
    .img-border{
        width: 85%;
    }

    .about-me-text{
        width: 60%;
        padding: 1.2em 2em;
        margin-top:5px
    }

    /* MY WORK */
    .my-work-content{
        flex-flow: row;
    }

    .my-work-container{
        width: 40%;
    }

    .my-work-container:first-child{
        justify-content: flex-end;
    }

    .my-work-container:nth-child(2){
        justify-content: flex-start;
    }

    .my-work-card{
        margin: 0 5px;
    }

    .portfolio-card{
        width: 340px;
    }

    /* CONTACT */
    .contact-card{
        width: 600px;
    }

    .contact-image :nth-child(3){
        top:29%;
        left: 17%;
    }
}

