/* GENERAL STYLING */

:root{
    --blue-main: rgb(59,89,152);
    --bg-blue:rgb(210,213,218);
    --blue-link:rgb(24, 119, 242);
    --blue-icon:rgb(160,176,207);
    --title:rgb(30, 30, 30);
    --icon-border:-1px 0 1px  rgb(104,126,171),
    0 1px 1px  rgb(104,126,171),
    1px 0 1px  rgb(104,126,171),
    0 -1px 1px  rgb(104,126,171);
    --gray:rgb(83, 83, 83);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-blue);
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: var(--gray);
}

.container{
    background: white;
    width: 97%;
    margin: 5px auto;
    padding: 5px 8px;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 30%);
}

mark{
    color: var(--blue-link)!important;
    font-weight: bold;
}

.section-title{
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--title);
}

.secondary-title{
    margin: .8em 0;
    color: var(--title);
}

.btn-custom{
    cursor: pointer;
    color: white;
    background-color: var(--blue-main);
    border: none;
    border-radius: 1px;
    padding: 5px 0;
    margin:3px 5px;
    text-decoration: none;  
}

.btn-custom:hover{
    font-weight: bold;
}

/* .NAVBAR */

#navbar{
    background: var(--blue-main);
    margin: 0px;
    top: 0;
    box-shadow: none;
    border-radius: 0;
}

#navbar .nav > a .logo{
    border: 1px solid white;
}

#navbar .nav .hamb .hamb-container .hamb-line {
    transition: all .4s ease;
}

#navbar .nav .hamb .hamb-container .hamb-line::before,
#navbar .nav .hamb .hamb-container .hamb-line::after{
    transition: all .4s ease;
}

#navbar .nav .menu{
    padding: 0 2em;
    background: var(--bg-blue);
    width: 100%;
}

#navbar .nav .menu ul{
    width: 100%;
    max-width: 350px;
    max-height: none;
    padding: 0.5em 2em;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

#navbar .nav .menu ul li{
    margin: 3px;
    width: 47%;
    text-align: center;
}

#navbar .nav .menu ul li a{
    display: block;
    padding: 5px;
    transition: 0.3s ease;
    font-size: 1.1em;
    color: black;
}

#navbar .nav .menu ul li a i,
#navbar .nav .menu ul li a br{
    display: inline;
}

#navbar .nav .menu ul li a i{
    position: relative;
    color: var(--blue-icon);
    font-size: 3em;
    text-shadow: var(--icon-border);
    margin-bottom: 5px;
}

#navbar .nav .menu ul li a i::after{
    display: none;
    content: "!";
    position: absolute;
    color: white;
    text-shadow: none;
    top: -15%;
    right: -15%;
    background: linear-gradient(180deg, 
    rgb(241,150,154) 0%, 
    rgb(241,150,154) 27%, 
    rgb(224,32,4) 64%, 
    rgb(224,32,4) 100%);
    z-index: 2;
    border-radius: 50%;
    font-size: 10px;
    width: 10px;
    height: 10px;
    padding: 3px;
    border: 2px solid white;
}

#navbar .nav .menu ul li.active a i::after,
#navbar .nav .menu ul li a:hover i::after{
    display: block;
}

/* TOGGLED .NAVBAR */

#navbar .nav .side-menu:checked ~ .menu{
    height: 100vh;
    width: 100vw;
    max-height: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0.5em 0px;
}

/* HOME */

#home{
    margin-top: 3em;
}

.home-container{
    margin-top: 0;
}

.home-container .main-title{
    font-weight: 800;
    font-size: 35px;
    text-transform: capitalize;
    color: var(--title);
}

.home-container .subtitle{
    font-weight: 700;
    font-size: 25px;
    color: var(--title);
    padding-bottom: 0.5em;
}

.home-container p {
    padding-right: 0;
}

.button-container{
    justify-content: flex-start;
}

.button-container .btn-custom{
    width: 60px;
}

.profile-pic{
    align-self: center;
    width: 85%;
    max-width: 370px;
    order: -1;
    padding: 1px;
    max-height: 370px;
    overflow: hidden;
}

.profile-pic img{
    width: 100%;
    border-radius: 3px;
}

/* ABOUT ME */

.img-container{
    width: 90%;
    padding: 1px;
}
.img-container img{
    width: 100%;
}

.about-me-text{
    width: 100%;
}

.about-me-text p{
    padding-bottom: 0;
}

.about-me-list li{
    color: var(--blue-link);
    font-weight: bold;
}

.about-me-list li:before{
    content: "";
    display: block;
    background: var(--blue-main);
    border-radius: 50%;
    height: 8px;
    width: 8px;
    left: -1em;
    top: 12px;
    position: relative;
}

/* MY WORK */

.my-work-container{
    justify-content: flex-start;
}

.my-work-card{
    height: 90px;
    width: 127px;
    margin: 3px;
    background: var(--blue-main);
    border-radius: 3px;
    cursor: context-menu;
}

.my-work-card .icon-container{
    width:100%; 
    padding: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.icon{
    width:100%;
}

.my-work-card .icon-container i{
    font-size: 65px;
    color: var(--blue-icon)!important;
    text-shadow: var(--icon-border);
}

#icon-responsive .icon-container :last-child{
    font-size: 30px;
}

.my-work-card .my-work-card-title{
    color: white;
}

.my-work-card:hover .icon-container i{
    color: white!important;
}

#my-work .secondary-title{
    margin-top: 1.3em;
}

.portfolio{
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.portfolio-card{
    position: relative;
    height: auto;
    flex-flow: row;
    flex-wrap: wrap;
}

.portfolio-card .portfolio-title{
    width: 100%;
    margin:1em 0;
    color: var(--title);
}

.portfolio-card .portfolio-info .portfolio-text{
    padding-right: 2.4em;
    margin-bottom: 1.2em;
    width: 100%;
}

.portfolio-card .portfolio-info .portfolio-characteristics{
    width: auto;
    margin-top: auto;
}

.portfolio-card .portfolio-info .portfolio-characteristics i,
.portfolio-card .portfolio-info .portfolio-characteristics p{
    margin:0;
    padding-right: .3em;
    color: rgb(139, 139, 139);
}

.portfolio-card .portfolio-info .portfolio-characteristics p{
    font-size: 10px;
}

.portfolio-card .portfolio-links{
    width: auto;
    position: absolute;
    bottom: 0;
    left: 95px;
    align-items: flex-end;
}

.portfolio-card .portfolio-links .btn-custom{
    background: none;
    color: var(--blue-link);
    font-size: 12px;
    font-weight: bold;
    margin: 0 1em;
    padding: 0;
}

.portfolio-card .portfolio-links i{
    cursor: pointer;
    font-size: 1.5em;
    color: var(--blue-main);
}


/* CONTACT */

.contact-card{
    width: 100%;
}

.contact-card form{
    justify-content: flex-start;
    margin: 0;
}

.contact-card form label{
    color: var(--title);
}

.contact-card input,
.contact-card textarea{
    border: 1px solid var(--gray);
    border-radius: 3px;
    padding: .2em;
    margin: .5em 0;
    transition: var(--transition-03s);
}
  
.contact-card input:focus-visible,
.contact-card textarea:focus-visible{
    outline: .5px solid var(--gray);
}

input:focus + label,
textarea:focus + label{
    font-weight: bold;
    text-decoration: underline;
}

.contact-card .btn-custom{
    margin-top: 2em;
    min-width: 160px;
    width: 50%;
    max-width: 300px;
}

/* FOOTER */

#footer{
    width: 100%;
    margin: 0;
    border-radius: 0;
    background: var(--blue-main);
    color: white;
}

footer .footer-icons a i{
    padding-left: 1em;
    font-size: 2em;
    color: white;
}

/* DESKTOP */

@media (min-width: 768px) {

    body{
        background: white;
    }

    .container{
        width: 80%;
        margin:0;
        margin-left: auto;
        margin-right: 2vw;
        border-radius: 0;
        box-shadow: none;
        border-left: 1px solid rgb(198, 198, 198);
        border-right: 1px solid rgb(198, 198, 198);
    }

    /* .NAVBAR*/

    #navbar{
        padding: 0;
        padding-top: 3px;
    }

    #navbar .nav > a {
        margin-left: 2vw;
    }

    #navbar .nav .menu,
    #navbar .nav .side-menu:checked ~ .menu{
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
        max-height: none;
        width: 80%;
        margin-right: 2vw;
        height: auto;
        background: rgb(97,122,177);
        border-radius: 2px 2px 0 0;
    }


    #navbar .nav .menu ul li,
    #navbar .nav .side-menu:checked ~ .menu ul li{
        display: inline-block;
        margin: 0;
    }



    #navbar .nav .menu ul{
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;
        max-width: none;
        padding: 0;
        height: 100%;
        padding-right: 8px;
    }

    #navbar .nav .menu ul li{
        display: inline-block;
        margin: 0;
        width: auto;
        margin: 0 2px;
    }

    #navbar .nav .menu ul li a{
        color: white;
        font-size: .8em;
        width: 100%;
        padding: 5px 10px;
    }

    #navbar .nav .menu ul li.active a,
    #navbar .nav .menu ul li a:hover{
        text-decoration: underline;
    }

    #navbar .nav .menu ul li a br,
    #navbar .nav .menu ul li a i{
        display: none;
    }

    /* HOME */

    #home{
        position: relative;
    }

    .home-container{
        width: 78%;
    }

    .button-container{
        position: fixed;
        width: 17vw;
        top: 9%;
        right: 2vw;
        text-align: center;
        justify-content: center;
    }

    .button-container .secondary-title{
        margin-top: 0;
    }
    
    .button-container .btn-custom{
        width: 100%;
    }

    .profile-pic{
        position: fixed;
        top: 9%;
        left: 0;
        width: 17.6vw;
        padding: 0;
        display: flex;
        justify-content: flex-end;
    }
    .profile-pic img{
        width: 100px;
        border-radius: 0;
    }

    /* ABOUT ME */

    #about-me{
        align-items: flex-start;
    }

    .about-me-content{
        width: 78%;
        flex-flow: column;
    }

    .about-me-content .about-me-text{
        padding: 0;
    }
    
    .img-container .img-border{
        width: 85%;
    }

    /* MY WORK */

    #my-work{
        align-items: flex-start;
    }

    .my-work-container{
        width: 78%;
    }

    .portfolio{
        width: 78%;
    }

    /* CONTACT */

    #contact{
        align-items: flex-start;
    }

    .contact-card{
        width: 78%;
    }

    /* FOOTER */

    #footer{
        position: relative;
        z-index: 2;
    }
}