/* GENERAL STYLING */

@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,300;0,400;1,400&family=Work+Sans:wght@500;600;800;900&display=swap');

:root{
    --orange-gradient:linear-gradient(0deg, 
    rgba(235,121,6,1) 0%,
    rgba(240,172,24,1) 10%,
    rgba(240,175,25,1) 20%,
    rgba(247,249,51,1) 40%,
    rgba(247,249,51,1) 60%,
    rgba(240,175,25,1) 80%,
    rgba(240,172,24,1) 90%,
    rgba(235,121,6,1) 100%);
    --orange:rgba(235,121,6,1);
    --dark-orange:rgb(189, 123, 0);
    --blue-gradient:linear-gradient(0deg, 
    rgb(75, 128, 201) 0%, 
    rgb(57, 111, 197) 50%, 
    rgb(49, 111, 182) 50%, 
    rgb(35, 101, 160) 100%);
    --inverted-blue-gradient:linear-gradient(0deg, 
    rgb(35, 101, 160) 0%,
    rgb(49, 111, 182) 50%, 
    rgb(57, 111, 197) 50%, 
    rgb(75, 128, 201) 100%);
    --dark-blue:rgb(25, 77, 122);
    --orange-border: 3px solid var(--dark-orange);
    --background-gray: rgb(40, 42, 54);
    --gray-typography:rgb(143, 154, 185);
    --secondary-gray: rgb(53, 56, 80);
    --white:rgb(235, 230, 230);
    --blue: rgb(49, 191, 230);
    --blue-translucid: rgba(49, 191, 230, .3);
    --border:1px solid var(--blue);
    --transition-03s: .3s ease-in;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-color: #5ed4eb;
    opacity: 1;
    background-image:  linear-gradient(135deg, #45a5f7 25%, transparent 25%), linear-gradient(225deg, #45a5f7 25%, transparent 25%), linear-gradient(45deg, #45a5f7 25%, transparent 25%), linear-gradient(315deg, #45a5f7 25%, #5ed4eb 25%);
    background-position:  6px 0, 6px 0, 0 0, 0 0;
    background-size: 12px 12px;
    background-repeat: repeat;;
    font-family: 'Mali', cursive;
    color: var(--white);
}

.container{
    width: 100%;
    padding: 10px 20px;
}

.flex-start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column-start {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
}

.flex-column-center {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.highlight{
    font-weight: bolder;
}

.section-title{
    display: inline-block;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.secondary-title{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: .8em 0
}

.btn-custom{
    cursor: pointer;
    background: var(--blue-gradient);
    width: 95px;
    border: 3px solid var(--dark-blue);
    border-radius: 12px;
    height: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: white;
    position: relative;
    text-decoration: none;
    text-transform: capitalize; 
}

.btn-custom:hover{
    background: var(--inverted-blue-gradient);
}

/* .NAVBAR */

nav{
    border: var(--orange-border);
    padding: .8em 1.2em;
    width: 100%;
    background: var(--orange-gradient);
    position: fixed;
    z-index: 20;
}

.nav {
    background: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav .logo{
    margin-right: auto;
    text-decoration: none;
    color: inherit;
}

.nav .hamb{
    cursor: pointer;
}

.nav .hamb .hamb-line {
    background: var(--dark-orange);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    transition: all .4s ease;
}

.nav .hamb .hamb-line::before,
.nav .hamb .hamb-line::after{
    background: var(--dark-orange);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .4s ease;
    width: 100%;
}

.nav .hamb .hamb-line::before{
    top: 5px;
}

.nav .hamb .hamb-line::after{
    top: -5px;
}

.nav .side-menu{
    display: none;
}

.nav .menu{
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 220px;
    width: 40%;
    height: auto;
    max-height: 0;
    padding: 0 2em;
    overflow: hidden;
    background: linear-gradient(0deg, 
    rgba(235,121,6,1) 0%, 
    rgba(240,172,24,1) 10%, 
    rgba(240,175,25,1) 35%, 
    rgba(247,249,51,1) 50%, 
    rgba(240,175,25,1) 65%, 
    rgba(240,172,24,1) 90%, 
    rgba(235,121,6,1) 100%);
}

.nav .menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav .menu ul li{
    list-style: none;
    margin: 0.5em 0;
}

.nav .menu ul li a{
    display: inline-block;
    text-align: center;
    background: var(--blue-gradient);
    width: 95px;
    border: 3px solid var(--dark-blue);
    border-radius: 12px;
    height: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: white;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
}

.nav .menu ul li a:hover{
    background: var(--inverted-blue-gradient);
}

.nav .menu ul li a:active{
    color: darkblue;
}

/* TOGGLED .NAVBAR */
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
    transform: rotate(-90deg);
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-135deg);
    top:0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(135deg);
    top:0;
}

.side-menu:checked ~ .menu{
    height: auto;
    max-height: 100vw;
    padding: .5em 2em;
    border: var(--orange-border);
    border-radius: 10px;
}

/* HOME */

.home-container{
    margin-top: 2em;
    width: 100%;
}

.home-title{
    position: relative;
    margin-top: 2em;
    height: 200px;
    padding: .3em;
    background: var(--orange);
    background-image: url(../images/coding.jpg);
    background-size: cover;
    border: var(--orange-border);
    border-radius: 10px;
    margin-bottom: 1.1em;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.home-title:after{
    content: "";
    width: 100.8%;
    height: 103%;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    background: linear-gradient(45deg, 
    rgba(189, 123, 0, 0.9) 0%,
    rgba(189, 123, 0, 0.8) 50%,
    rgba(189, 123, 0, 0.5) 70%,
    rgba(189, 123, 0, 0.3) 100%);
    top: -1%;
    left: -.4%;
}

.main-title{
    position: absolute;
    z-index: 3;
    bottom:20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size:35px;
    text-transform: uppercase;
}

.subtitle{
    position: absolute;
    z-index: 3;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.home-container p{
    padding-right: 1.2em;
    padding-bottom: 1.2em;
    background: var(--orange);
    border: var(--orange-border);
    border-radius: 10px;
    padding: .5em;
    text-align: justify;
}

.button-container{
    margin-top: .5em;
    width: 100%;
    flex-wrap: wrap;
    border: var(--orange-border);
    background: var(--orange);
    border-radius: 10px;
}

.button-container button{
    margin: .2em;
}

/* ABOUT ME */

#about-me{
    width: 90%;
    margin:auto;
    background: var(--orange);
    border: var(--orange-border);
    border-radius: 10px;
    padding: 10px 0;
}

#about-me .section-title{
    padding-left: 20px;
}

.about-me-content{
    width: 100%;
    margin-top:15px;
    margin-bottom:15px;
}

.img-container{
    width: 100%;
    max-width: 300px;
    position: relative;
    height:300px;
}

.img-container .img{
    position: relative;
    height: 270px;
    width: 270px;
    border: var(--orange-border);
    border-radius: 50%;
    background-image: url(../images/placeholder2.jpg);
    background-size: 270px;
    background-repeat: no-repeat;
    background-position: center;
}

.img-container .img:after{
    content: "";
    position: absolute;
    z-index: 3;
    width: 101%;
    height: 101%;
    top: -0.5%;
    left: -0.5%;
    border-radius: 50%;
    background: var(--dark-orange);
    opacity: .7;
    pointer-events: none;
}

.img-container .img-highlight{
    position: absolute;
    z-index: 4;
    border: var(--orange-border);
    border-radius: 50%;
    height: 175px;
    width: 175px;
    top:62.5px;
    left:62.5px;
    background-image: url(../images/placeholder2.jpg);
    background-size: 270px;
    background-repeat: no-repeat;
    background-position: center;
}


.about-me-text{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-top:10px;
}

.about-me-text p{
    padding-bottom: 1em;
}

.about-me-text ul{
    display: inline-block;
}
.about-me-text ul li{
    margin: 0 2em;
}

.about-me-list{
    margin: 0.75em 0;
}


/* MY WORK */

.my-work-container{
    width: 100%;
    max-width: 345px;
    flex-wrap: wrap;
}

.my-work-card{
    height: 200px;
    width: 127px;
    padding: 10px 0px 5px 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 3px;
}

.glow{
    transition: var(--transition-03s);
}

.icon-container{
    width: 120px; 
    height: 120px;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.my-work-card .icon .icon-container i{
    font-size: 50px;
    color: var(--white)!important;

}

.my-work-card-title{
    color: var(--gray-typography);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    transition: var(--transition-03s);
}
.my-work-card:hover .my-work-card-title{
    color: var(--white);
    transition: var(--transition-03s);
}

.my-work-card:hover .glow{
    filter: drop-shadow(0px 0px 19px rgb(49, 191, 230));
    -webkit-filter: drop-shadow(0px 0px 19px rgb(49, 191, 230));
    -moz-filter: drop-shadow(0px 0px 19px rgb(49, 191, 230));
    transition: var(--transition-03s);
}

#my-work .secondary-title{
    margin-top: 1.3em;
}

.portfolio{
    width: 100%;
    flex-wrap: wrap;
}

.portfolio-card{
    background: var(--secondary-gray);
    border: var(--border);
    cursor: default;
    border-radius: 4px;
    max-width: 400px;
    height: 350px;
    padding: 1em;
    margin: .8em;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: var(--transition-03s)
}

.portfolio-links{
    width: 100%;
    margin-bottom: 1em;
}

.portfolio-links .btn-custom{
    cursor: pointer;
    padding: 0.3em 0.6em;
    margin: 0;
    font-size: .9em;
}

.portfolio-links i{
    cursor: pointer;
    font-size: 2em;
    color: var(--gray-typography)!important;
}

.portfolio-bottom-info p{
    margin: auto 0 0 0;
    margin-left: auto;
    padding: 0;
    transition: var(--transition-03s);
}

.portfolio-title{
    margin:1em 0;
    transition: var(--transition-03s);
}

.portfolio-text{
    padding-right: 2.4em;
    transition: var(--transition-03s);
}

.portfolio-bottom-info{
    margin-top: auto;
    width: 100%;
}

.portfolio-bottom-info i{
    color: var(--gray-typography)!important;
    font-size: 1.7em;
    margin-right: .8em;
    transition: var(--transition-03s);
}

.portfolio-card:hover{
    background: rgb(58, 64, 88);
    -webkit-box-shadow:0px 0px 21px 3px rgba(49,191,230,0.68);
    -moz-box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    transition: var(--transition-03s);
}

.portfolio-card:hover p,
.portfolio-card:hover .portfolio-links a i{
    color: var(--white)!important;
    transition: var(--transition-03s);
}

.portfolio-card:hover .portfolio-title,
.portfolio-card:hover .portfolio-bottom-info i,
.portfolio-card .portfolio-links a i:hover{
    color: var(--blue)!important;
    transition: var(--transition-03s);
}

/* CONTACT */

.contact-card{
    background: var(--secondary-gray);
    border: var(--border);
    border-radius: 4px;
    width: 85%;
    padding: 1em 2em; 
    margin: .8em 0;
    transition: var(--transition-03s);
    display: flex;
    flex-flow: column;
}

.contact-card form{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2.5em;
}

.contact-card form label{
    transition: var(--transition-03s);
}

.contact-card input,
.contact-card textarea{
    width: 100%;
    background: none;
    color: var(--white);
    border: var(--border);
    border-radius: 4px;
    display: block;
    padding: .2em;
    margin: .5em 0;
    resize: none;
    transition: var(--transition-03s);
}

::placeholder{ 
    color: var(--gray-typography)!important;
  }

.contact-card:hover{
    background: rgb(58, 64, 88);
    -webkit-box-shadow:0px 0px 21px 3px rgba(49,191,230,0.68);
    -moz-box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);

}

.contact-card input:focus,
.contact-card textarea:focus{
    -webkit-box-shadow:0px 0px 21px 3px rgba(49,191,230,0.68);
    -moz-box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    border: var(--border);
    border-radius: 4px;
    transition: var(--transition-03s);
}
.contact-card input:focus-visible,
.contact-card textarea:focus-visible{
    outline: .1em solid var(--blue);
}

input:focus + label,
textarea:focus + label{
    color: var(--white);
    transition: var(--transition-03s);
}

.contact-card .btn-custom{
    align-self: flex-end;
}


footer p{
    font-size: .8em;
}

footer .footer-icons a i{
    padding-left: 1em;
    font-size: 2em;
    color: var(--gray-typography)!important;
    transition: var(--transition-03s);
}

footer .footer-icons a i:hover{
    padding-left: 1em;
    font-size: 2em;
    color: var(--blue)!important;
    transition: var(--transition-03s);
}

/* DESKTOP */

@media (min-width: 768px) {

    /* GENERAL STYLING */

    .container{
        padding: 15px 30px;
    }

    /* .NAVBAR*/

    .nav .hamb{
        display: none;
    }

    .nav .menu,
    .side-menu:checked ~ .menu{
        position: relative;
        top: 0;
        left: 0;
        max-height: 100vh;
        width: auto;
        padding: 0;
        background: none;
    }

    .nav .menu ul,
    .side-menu:checked ~ .menu ul{
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .nav .menu ul li,
    .side-menu:checked ~ .menu ul li{
        display: inline-block;
        padding-left: 1.2em;
        margin: 0;
    }

    /* HOME */

    .home{
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
    }

    .home-container{
        width: 100%;
    }

    /* ABOUT ME */
    .about-me-content{
        width: 88%;
        flex-flow: row;
        align-items: flex-start;
    }

    .img-container{
        width: 50%;
        margin-top: 2em;
    }
    

    .about-me-text{
        width: 50%;
        margin-top:5px
    }

    /* MY WORK */

    .my-work-container{
        max-width: none;
    }

    .portfolio-card{
        width: 320px;
    }

    /* CONTACT */
    .contact-card{
        width: 600px;
    }
}

