/* GENERAL STYLING */

@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,300;0,400;1,400&family=Work+Sans:wght@500;600;800;900&display=swap');

:root{
    --blue-gradient:linear-gradient(0deg, 
    rgb(75, 128, 201) 0%, 
    rgb(57, 111, 197) 50%, 
    rgb(49, 111, 182) 50%, 
    rgb(35, 101, 160) 100%);
    --inverted-blue-gradient:linear-gradient(0deg, 
    rgb(35, 101, 160) 0%,
    rgb(49, 111, 182) 50%, 
    rgb(57, 111, 197) 50%, 
    rgb(75, 128, 201) 100%);
    --dark-blue:rgb(25, 77, 122);
    --blue-border: 4px solid var(--dark-blue);
    --light-blue: rgb(113,163,231);
    --red-gradient:linear-gradient(0deg, 
    rgb(201,75,75) 0%, 
    rgb(198,57,57) 49%, 
    rgb(182,49,49) 50%, 
    rgb(160,35,35) 100%);
    --inverted-red-gradient:linear-gradient(0deg,
    rgb(160,35,35) 0%,
    rgb(182,49,49) 49%, 
    rgb(198,57,57) 50%, 
    rgb(201,75,75) 100%); 




    --orange-gradient:linear-gradient(0deg, 
    rgba(235,121,6,1) 0%,
    rgba(240,172,24,1) 10%,
    rgba(240,175,25,1) 20%,
    rgba(247,249,51,1) 40%,
    rgba(247,249,51,1) 60%,
    rgba(240,175,25,1) 80%,
    rgba(240,172,24,1) 90%,
    rgba(235,121,6,1) 100%);
    --orange:rgba(235,121,6,1);
    --dark-orange:rgb(189, 123, 0);
    --orange-border: 4px solid var(--dark-orange);
    --shadow:0px 3px 7px rgba(0, 0, 0, 0.6);


    --background-gray: rgb(40, 42, 54);
    --gray-typography:rgb(143, 154, 185);
    --secondary-gray: rgb(53, 56, 80);
    --white:rgb(235, 230, 230);
    --blue: rgb(49, 191, 230);
    --blue-translucid: rgba(49, 191, 230, .3);
    --border:1px solid var(--blue);
    --transition-03s: .3s ease-in;
}

@keyframes change-color{
    0%{background: var(--blue-gradient);}
    25%{background: var(--blue-gradient);}
    25%{background: var(--red-gradient);}
    75%{background: var(--red-gradient);}
    75%{background: var(--blue-gradient);}
    100%{background: var(--blue-gradient);}
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    overflow-x: hidden;
    font-family: 'Mali', cursive;
    color: var(--white);
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: auto;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(0deg, black, rgb(210, 209, 209) 1px, white 1px,rgb(210, 209, 209) 1px);
}

body::after{
    content: "";
    position: fixed;
    top: 0;
    left: auto;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, rgb(25, 77, 122) 0%,
    rgba(25, 77, 122, 0.8) 2%,
    rgba(25, 77, 122, 0.5) 8%,
    rgba(25, 77, 122, 0.5) 92%,
    rgba(25, 77, 122, 0.8) 98%,
    rgb(25, 77, 122) 100%);
}

.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: var(--blue-border);
    border-top: none;
    border-bottom: none;
    background: var(--light-blue);
}

.flex-start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column-start {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
}

.flex-column-center {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.highlight{
    font-weight: bolder;
}

.section-title{
    display: inline-block;
    padding-left: 20px;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.secondary-title{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: .8em 0;
    text-transform: capitalize;
}

.btn-custom{
    cursor: pointer;
    background: var(--blue-gradient);
    width: 95px;
    border: 3px solid var(--dark-blue);
    border-radius: 12px;
    height: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: white;
    position: relative;
    text-decoration: none;
    text-transform: capitalize; 
}

.btn-custom:hover{
    background: var(--inverted-blue-gradient);
}

/* .NAVBAR */

#navbar{
    border-radius: 0%;
    border: none;
    width: 100%;
    min-height: 32px;
    position: fixed;
    top: 0;
    z-index: 20;
    background: rgb(75, 128, 201);
    padding-top: 5px;
}

.nav {
    background: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.nav .logo{
    background: linear-gradient(180deg, 
    var(--light-blue) 0%,  
    rgba(35,101,160,1) 35%, 
    var(--light-blue) 100%);
    width: 66px;
    border: 1px solid var(--dark-blue);
    border-bottom: none;
    border-radius:3px 3px 0 0;
    text-align: center;
    text-decoration: none;
}

.nav .hamb{
    cursor: pointer;
    background-color: red;
    border: 2px solid blue;
}

.nav .hamb .hamb-line {
    background: var(--dark-orange);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    transition: all .4s ease;
}

.nav .hamb .hamb-line::before,
.nav .hamb .hamb-line::after{
    background: var(--dark-orange);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .4s ease;
    width: 100%;
}

.nav .hamb .hamb-line::before{
    top: 5px;
}

.nav .hamb .hamb-line::after{
    top: -5px;
}

.nav .side-menu{
    display: none;
}

.nav .menu{
    width: 100%;
    border-top: 1px solid var(--dark-blue);
    border-bottom: 1px solid var(--dark-blue);
    background:linear-gradient(180deg, 
    var(--light-blue) 0px,  
    rgba(35,101,160,1) 5px,
    rgba(35,101,160,1) 10px, 
    var(--light-blue) 39px);
    overflow: hidden;
    height: 9px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 8px;
    transition: .3s ease-in;
}

.nav .menu ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    border-top: 1px solid var(--dark-blue);
}

.nav .menu ul li{
    list-style: none;
    background: linear-gradient(180deg, 
    rgba(35,101,160,1) 0px,  
    rgba(35,101,160,1) 8px, 
    var(--light-blue) 21px);
    width: 66px;
    height: 22px;
    border: 1px solid var(--dark-blue);
    border-top: none;
    border-radius: 0 0 3px 3px;
    text-align: center;
}

.nav .menu ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 13px;
}

.nav .menu ul li:hover{
    height: 24px;
}


/* TOGGLED .NAVBAR */
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
    transform: rotate(-90deg);
    transform-origin: top;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-135deg);
    top:0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(135deg);
    top:0;
}

.side-menu:checked ~ .menu{
    height: 35px;
}

/* HOME */

#home{
    margin-top: 5.5em;
    padding: 0;
    overflow: hidden;
    border-top: var(--blue-border);
    border-radius: 10px 0 0 0;
}

.home-title{
    position: relative;
    height: 210px;
    padding: .3em;
    background: var(--light-blue);
    background-image: url(../images/coding.jpg);
    background-size: cover;
    border-bottom: var(--blue-border);
    margin-bottom: 1.1em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.home-title:after{
    content: "";
    width: 100.8%;
    height: 101%;
    border-radius: 10px 0 0 0;
    position: absolute;
    z-index: 2;
    background: linear-gradient(45deg, 
    rgba(14, 47, 75, 0.9) 0%,
    rgba(25, 77, 122, 0.8) 50%,
    rgba(25, 77, 122, 0.5) 70%,
    rgba(25, 77, 122, 0.3) 100%);
    top: -1%;
    left: -.4%;
}

.main-title{
    font-size: clamp(35px, 8vw, 80px);
}

.subtitle{
    font-size: clamp(20px, 8vw, 30px);
}

.main-title,
.subtitle{
    position: relative;
    text-transform: uppercase;
    z-index: 3;
    font-family: 'Work Sans', sans-serif;
    color: silver;
    background: linear-gradient(to bottom, silver 0%, silver 13%, #ffffff 50%, silver 56%, silver 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.home-container p{
    padding-right: 1.2em;
    padding-bottom: 1.2em;
    padding: .5em;
    text-align: justify;
}

.button-container{
    align-self: center;
    margin: 0.5em 3em;
    flex-wrap: wrap;
    border: var(--blue-border);
    background: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: var(--shadow);
}

.button-container .secondary-title{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 0 0 0.8em;
    animation: change-color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


.button-container button{
    margin: .2em;
}

/* ABOUT ME */

#about-me{
    padding: 10px 0;
}

.about-me-content{
    width: 100%;
    margin-top:15px;
    margin-bottom:15px;
}

.img-container{
    width: 100%;
    max-width: 300px;
    position: relative;
    height:300px;
}

.img-container .img{
    position: relative;
    height: 270px;
    width: 270px;
    border: var(--blue-border);
    border-radius: 50%;
    background-image: url(../images/placeholder2.jpg);
    background-size: 270px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: var(--shadow);
}

.img-container .img:after{
    content: "";
    position: absolute;
    z-index: 3;
    width: 101%;
    height: 101%;
    top: -0.5%;
    left: -0.5%;
    border-radius: 50%;
    background: linear-gradient(45deg, rgba(17,114,177,1) 0%, rgba(23,121,184,1) 40%, rgba(47,152,217,1) 51%, rgba(50,156,221,1) 59%, rgba(59,168,234,1) 75%);
    opacity: .8;
    pointer-events: none;
}


.about-me-text{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-top:10px;
}

.about-me-text p{
    padding-bottom: 1em;
}

.about-me-text ul{
    display: inline-block;
}
.about-me-text ul li{
    margin: 0 .8em;
}

.about-me-list{
    margin: 0.75em 0;
}


/* MY WORK */

.my-work-container{
    width: 100%;
    max-width: 345px;
    flex-wrap: wrap;
}

.my-work-card{
    background: white;
    height: 200px;
    width: 130px;
    border: var(--blue-border);
    box-shadow: var(--shadow);
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 5px;
}

.my-work-card-title{
    font-family: 'Work Sans', sans-serif;
    border-bottom: var(--blue-border);
    font-size: 1.2em;
    transition: var(--transition-03s);
    width: 100%;
    height: 52px;
    animation: change-color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.icon-container{
    width: 100px; 
    height: 100px;
    position: relative;
    border: var(--blue-border);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    background: var(--blue-gradient);
}

.my-work-card:hover .icon-container{
    background: var(--red-gradient);
}

.icon-container img{
    width: 90%;
    filter: invert(97%) sepia(2%) saturate(150%) hue-rotate(49deg) brightness(117%) contrast(100%);
}

#icon-responsive .icon-container :first-child{
    width: 76%;
    position: absolute;
    top: 15%;
    left: 11%;
}

#icon-responsive .icon-container :last-child{
    width: 39%;
    position: absolute;
    top: 39%;
    right: 3%;
}


.portfolio{
    width: 100%;
    flex-wrap: wrap;
}

.portfolio-card{
    background: var(--blue-gradient);
    border: var(--blue-border);
    border-radius: 0px 0px 10px 10px;
    cursor: default;
    max-width: 400px;
    height: 350px;
    margin: .8em;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: var(--shadow);
}

.portfolio-title{
    margin-bottom: 1em;
    border-bottom: var(--blue-border);
    width: 100%;
    text-align: center;
    background: var(--blue-gradient);
}

.portfolio-text{
    padding: 0 .8em;
    height: 191px;
}

.portfolio-bottom-info{
    margin: .7em 0;
    width: 100%;
    padding: .3em 0;
    background: var(--blue-gradient);
    border-top: var(--blue-border);
    border-bottom: var(--blue-border);
}

.portfolio-bottom-info p{
    padding-left: .3em;
}

.portfolio-bottom-info :last-child{
    margin-left: auto;
    padding-right: .3em;
}

.portfolio-links{
    margin-top: auto;
    padding: 0 .3em .3em;
    width: 100%;
}

.portfolio-links .btn-custom{
    text-align: center;
    width: 100px;
    height: 45px;
    background: var(--red-gradient);
}

.portfolio-card:hover .portfolio-title{
  background: var(--red-gradient);
}

.portfolio-links .btn-custom:hover{
    background: var(--inverted-red-gradient);
}
/* CONTACT */

.contact-card{
    background: var(--secondary-gray);
    border: var(--border);
    border-radius: 4px;
    width: 85%;
    padding: 1em 2em; 
    margin: .8em 0;
    transition: var(--transition-03s);
    display: flex;
    flex-flow: column;
}

.contact-card form{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2.5em;
}

.contact-card form label{
    transition: var(--transition-03s);
}

.contact-card input,
.contact-card textarea{
    width: 100%;
    background: none;
    color: var(--white);
    border: var(--border);
    border-radius: 4px;
    display: block;
    padding: .2em;
    margin: .5em 0;
    resize: none;
    transition: var(--transition-03s);
}

::placeholder{ 
    color: var(--gray-typography)!important;
  }

.contact-card input:focus,
.contact-card textarea:focus{
    -webkit-box-shadow:0px 0px 21px 3px rgba(49,191,230,0.68);
    -moz-box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    box-shadow: 0px 0px 21px 3px rgba(49,191,230,0.68);
    border: var(--border);
    border-radius: 4px;
    transition: var(--transition-03s);
}

.contact-card input:focus-visible,
.contact-card textarea:focus-visible{
    outline: .1em solid var(--blue);
}

input:focus + label,
textarea:focus + label{
    color: var(--white);
    transition: var(--transition-03s);
}

.contact-card .btn-custom{
    align-self: flex-end;
}


footer p{
    font-size: .8em;
}


/* DESKTOP */

@media (min-width: 768px) {

    /* .NAVBAR*/

    #navbar{
        height: 36px;
        border-bottom: 1px solid var(--dark-blue);
        background:linear-gradient(180deg, 
        rgb(75 128 201) 0px, 
        rgb(75 128 201) 26px, 
        var(--light-blue) 27px, 
        rgba(35,101,160,1) 32px, 
        rgba(53,115,176,1) 36px);
        align-items: flex-end;
        padding-bottom: 8px;
    }

    .nav{
        position: relative;
    }

    .nav .logo{
        position: absolute;
        left: 5px;
        bottom: 0px;
    }

    .nav .hamb{
        display: none;
    }

    .nav .menu,
    .side-menu:checked ~ .menu{
        height: auto;
        width: auto;
        padding: 0;
        background: none;
        border: none;
    }

    .nav .menu ul,
    .side-menu:checked ~ .menu ul{
        flex-direction: row;
        align-items: flex-end;
        border-top: none;
    }

    .nav .menu ul li,
    .side-menu:checked ~ .menu ul li{
        height: 22px;
        background: linear-gradient(0deg, 
        var(--light-blue) 0px, 
        rgba(35,101,160,1) 8px, 
        var(--light-blue) 21px);
        border: 1px solid var(--dark-blue);
        border-bottom: none;
        border-radius: 3px 3px 0 0;
    }

    .nav .menu ul li:hover,
    .side-menu:checked ~ .menu ul li:hover{
        height: 20px;
    }

    /* HOME */

    #home{
        display: block
    }

    .home-container{
        width: 50%;
    }

    .home-container .home-title{
        width: 200%;
    }

    .button-container{
        width: 42%;
        margin: 0;
        position: absolute;
        right: 6%;
        top: 244px;
    }

    /* ABOUT ME */
    .about-me-content{
        display: block;
        padding: 0 1.5em;
    }

    .img-container{
        width: auto;
        height: auto;
        max-width: none;
        float: left;
        margin: 0 1em 1em 0;
    }

    .img-container .img{
        height: 320px;
        width: 320px;
        background-size: 320px;
    }
    
    .about-me-text{
        display: inline;
    }

    .about-me-text ul{
        display: inline;
        float: left;
    }
    

    /* MY WORK */

    #my-work{
        flex-flow: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    .my-work-container{
        min-width: 55%;
        width: 65%;
        margin-top: 46px;
    }

    .portfolio{
        width: 35%;
        min-width: 290px;
        flex-flow: column;
        align-items: flex-end;
    }

    
    .portfolio-card{
        margin: 0;
        width: 100%;
        min-width: 290px;
        box-shadow: none;
        border-radius: 0;
        border: none;
        border-left: var(--blue-border);
        border-top: var(--blue-border);
    }
    
    .portfolio :last-child.portfolio-card{
        border-bottom: var(--blue-border);
    }

    .my-work-card{
        width: 40%;
        max-width: 200px;
    }
    /* CONTACT */
    .contact-card{
        width: 600px;
    }
}



